*{
    box-sizing: border-box;
}
body{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.container{
    max-width: 1400px;
    margin: auto;
}
h1{font-size: 2.5em;}
h2{font-size: 2em;}
h3{font-size: 1.6em;}
h4{font-size: 1.4em;}
p{font-size: 1.1em;}
a{font-size: 1.1em;}
 
nav{
    display: none;
}
#hero .img{
    background-image: url(assets/alarma/logo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 160px;
    height: 130px;
}
#hero{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)
    ) 
    ,url(assets/alarma/mantenimiento-alarma-contra-incendio.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;
    height: 85vh;
    color: white;
    padding: 15px;
}
#hero .button{
    padding: 15px 20px;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, .9);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .9);
}
#hero a{
    background-color: rgb(180, 48, 65);
    color: white;
    text-decoration: none;
}
#hero p{
    width: 300px;
    font-style: italic;
    margin-top: 50px;
}
#sistema{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
}
#sistema .box-body{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
}
#sistema .box{
    display: flex;
    flex-direction: row;
}
#sistema span{
    font-size: 2.7em;
    color:  rgb(180, 48, 65);
    margin-top: 25px;
    margin-right: 5px;
}
#sistema h4{
    color: rgb(180, 48, 65) ;
    text-transform: capitalize;
}
#funcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
#funcion .box-head{
    margin-bottom: 50px;
}
#funcion .box-body{
    padding: 15px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px -5px 5px 5px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-bottom: 20px;
}
#funcion .box-one{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    text-align: left;
}
#funcion h3{
    margin-left: auto;margin-right: auto;
}
#funcion .material-symbols-outlined{
    color:  rgb(180, 48, 65);
    position: relative;
    top: 30px;
    font-size: 35px;
    margin-bottom: 35px;
}
#funcion h4{
    color:  rgb(180, 48, 65);
    margin-left: 10px;
}
#funcion p{
    margin-top: -25px;
    margin-left: 10px;
}
#funcion .unique{
    margin-top: 40px;
    font-style: italic;
    margin-bottom: 50px;
}
#funcion .unique1{
    margin-bottom: 40px;
}
#funcion h2{
    margin-bottom: 60px;
}
#funcion .box-footer{
    border: 2px solid gray;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .9);
}
.box-footer h4{
    font-size: 1.1em;
    margin-bottom: 50px;
}
#funcion .button{
    background-color: rgb(5, 5, 44);
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, .9);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .9);
    position: relative;
    top: -20px;
    padding: 10px 40px;
}
#funcion a{
    color: white;
    text-decoration: none;
}
#dispositivos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color:  rgb(5, 5, 44);
    color: white;
    padding: 15px;
}
#instalacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
#mantenimiento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
#mantenimiento .img{
    background-image: url(assets/alarma/1.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;
    border: 1px solid black;
} 
#mantenimiento .img1{
    background-image: url(assets/alarma/2.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;
    border: 1px solid black;
} 
#mantenimiento .img2{
    background-image: url(assets/alarma/3.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;
    border: 1px solid black;
} 
#mantenimiento ol{
    list-style: none;
}

#form{
    background-color: rgb(14, 14, 58);
    color: white;
}
#form .box-head{
    background-color: rgb(14, 14, 58);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 20px;
}
#form h2{
    position: relative;
    margin-top: 20px;
    font-size: 2.5em;
}
#form b{
    font-size: 1.2em;
    font-weight: bold;
}
.box-head p{
    font-weight: 100;
    font-style: italic;
    width: 300px;
}
#form .box-middle-one{
    display: flex;
    flex-direction: column;
    margin-top: -60px;
}
.box-middle-one p{
    margin-left: 60px;
    font-weight: 100;
    word-spacing: -1px;
    letter-spacing: -1px;
    line-height: .01;
}
#form .material-symbols-outlined{
    position: relative;
    top: 40px;
    left: 15px;
    font-size: 2em;
}
.box-middle-email p{
    margin-left: 60px;
    font-weight: bold;
    margin-bottom: 50px;
}
#form form{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: left;
    width: 95%;
    margin-left: auto;margin-right: auto;
}
.consulta h5{
    position: relative;
    top: 50px;
    font-size: 2em;
    color:rgb(180, 48, 65);
}
.consulta p{
    font-weight: bold;
}
.consulta{
    margin-top: -80px;
}
#form input{
    margin-bottom: 10px;
    padding: 10px 0px;
    border-radius: 5px;
}
#form .controls{
    height: 120px;
}
#form .button{
    background-color:rgb(180, 48, 65) ;
    border-radius: 5px;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 15px;
    border: 6px solid rgb(124, 17, 17)  ;
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255.9, alpha);
    color: white;
    margin-bottom: 30px;
    margin-left: auto;margin-right: auto;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
}
#form .button:hover{
    background-color: rgb(87, 46, 46);
    border: 2px solid rgba(255, 255, 255, .9);
    box-shadow: 5px 5px 5px 5px  rgb(180, 48, 65);
}
footer{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    color: white;
    background-color: rgb(14, 14, 58);
    padding: 20px;
}
footer .adress{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 30px;
}
.adress a{
    margin-top: 0px;
}
.adress p{
    margin-top: 0px;
    font-size: 0.9em;
    font-weight: 100;
    font-style: italic;
    width: 300px;
}
 footer .text{
    font-style: normal;
    font-size: 1.1em;
    width: 300px;
    margin-bottom: -1px;
    font-weight: bold;
    
}
footer .red{
    margin-left: 15px;
    margin-top: 20px;
}
footer a{
    font-size: 1.1em;
    text-decoration: none;
    color: rgb(180, 48, 65);
    font-weight: bold;
    margin: 0;
}
footer .caja{
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-top: 25px;
}
footer .cajas{
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    position: relative;
    margin-top: -20px;
}
footer img{
    width: 50px;
}
.caja:nth-child(2){
    margin-left: -18px;
}

@media (min-width:500px) {
    body{
        margin: 0;
        cursor: pointer;
    }
    header{
        width: 100%;
    }
    header nav{
        display: flex;
        position: absolute;
    }
    header a{
        color: #fff;
        padding: 1.5em 1.5em;
        display: flex;
        flex-direction: row;
        font-size: 1.5em;
        text-decoration: none;
    }
    header a:hover{
        color: rgb(180, 48, 65);
    }
    header .container{
        display: flex;
        flex-direction: row;
        justify-content: right;
        margin-right: 5em;
    }
    #hero{
        height: 100vh;
    }
    #hero .container1{
       margin-right: 65em;
       margin-bottom: 25em;
    }
    #hero .container{
        margin-top: 25em;
        padding: 3em;
    }
    #hero h1{
        font-size: 4em;
    }
    #hero  .button{
        padding: 1.2em 3.5em;
    }
    #hero a{
        font-weight: bold;
        font-size: 1.2em;
    }
    #hero p{
        font-size: 1.5em;
        width: 29em;
    }
    #sistema h2{
        font-size: 3.5em;
        color: rgb(14, 14, 58);
    }
    #sistema p{
        font-size: 1.5em;
        margin-bottom: 2em;
    }
    #sistema .box-body{
        display: flex;
        flex-direction: row;
    }
    #sistema h3{
        font-size: 3em;
        color: rgb(14, 14, 58);
    }
    #sistema .box{
        border: 1px solid rgb(180, 48, 65);
        margin-left: 2em;
        border-radius: 1em;
        box-shadow: 5px 5px 5px 5px ;
    }
    #funcion h2{
        font-size: 3em;
    }
    #funcion .box-head p{
        font-size: 1.3em;
        width: 60em;
    }
    #funcion .box-one{
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
    }
    #funcion .box-body{
        margin-left: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #funcion .box-inside{
        padding: 1em;
    }
    #funcion .box-body-1{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #funcion .box-body-1  p{
        font-size: 1.3em;
    }
    #funcion h3{
        font-size: 2em;
        color: rgb(124, 17, 17);
    }
    #funcion .div-button{
        width: 23em;
        margin-left: auto;margin-right: auto;
    }
    #dispositivos h2{
        font-size: 4em;
    }
    #dispositivos h2:hover{
        color: rgb(180, 48, 65);
    }
    #dispositivos p{
        font-size: 1.5em;
    }
    #instalacion h2{
        font-size: 4em;
        text-align: center;
    }
    #instalacion h2:hover{
        color: rgb(180, 48, 65);
    }
    #instalacion p{
        font-size: 1.5em;
        width: 45em;
    }
    #instalacion .box-head{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #mantenimiento{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #mantenimiento h2{
        font-size: 4em;
    }
    #mantenimiento p{
        font-size: 1.5em;
    }
    #mantenimiento .box-body{
        display: flex;
        flex-direction: row;
    }
    #mantenimiento .box-inside{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30em;
    }
    #mantenimiento li{
        font-size: 1.4em;
    }
    #form h2{
        font-size: 4em;
    }
    #form .box-head p{
        font-size: 1.5em;
        width: 1500px;
    }
    #form .box-body{
        display: flex;
        flex-direction: row;
    }
    #form .box-right{
        width:60em;
        margin-left: 3em;
    }
    #form .box-left{
        width: 60em;
        margin-left: 5em;
        padding: 2em 0em;
    }
    #form .box-left p{
        font-size: 1.5em;
        font-weight: bold;
    }
    #form .box-middle-email{
        margin-top: 3em;
    }
    #form input{
        height: 4em;
        margin-bottom: 1.5em;
        font-size: 1.3em;
    }
    #form .control1{
        width: 30em;
    }
    #form .controls{
        height: 10em;
    }
    #form .box-button{
        position: relative;
        left: 0em;
    }


    footer .div-footer{
        display: flex;
        flex-direction: row;
    }
}