*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
h1{font-size: 2.5em;}
h2{font-size: 2em;}
h3{font-size: 1.8em;}
h4{font-size: 1.5em;}
h5{font-size: 1.2em;}
p{font-size: .9em;}
li{font-size: .9em;}
a{font-size: 1.2em; color: white; text-decoration: none; font-weight: bold;}
.button{
        padding: 15px 30px;
        background-color: rgb(180, 48, 65);
        border-radius: 15px;
        border: 1px solid #010203;
}
section{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
}
header nav{
    display:  none;
}
#hero{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ) 
    ,url(assets/contacto/IMG_20240325_190150.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    color: white;
}
#hero .logo{
    background-image: url(assets/contacto/logo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 120px;
    position: relative;
    top: -200px;
}
#form .img{
    background-image: url(assets/contacto/eagle.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 300px;
    margin-left: auto;margin-right: auto;
}
form input{
    width: 300px;
    height: 2.5em;
    margin-bottom: 15px;
    border: 1px solid rgba(0,0,0.5);
    box-shadow: 5px 5px 5px #010203;
    border-radius: 5px;
}
form .input1{
    height: 250px;
    margin-bottom: 50px;
}
#form .box-inside{
    padding: 15px;
    box-shadow: 1px 1px 1px 1px #aaa;
    margin-top: 50px;
}
#form li{
    font-weight: bold;
    font-size: .9em;
    text-align: left;
}
#form .box-inside span{
    color: rgb(180, 48, 65);
    margin-left: auto; margin-right: auto;
    font-weight: bold;
    font-size: 2em;
}
form .box-inside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#form .box-inside a{
    color: rgb(180, 48, 65);
    margin-left: 15px;
}
#contactos .box-inside{
    margin-bottom: 35px;
    box-shadow: 1px 1px 1px 1px #aaa;
    width: 310px;
}
#contactos span{
    color: rgb(180, 48, 65);
    font-weight: bold;
    font-size: 2em;
    margin-bottom: -15px;
    margin-top: -10px;
}
#contactos h5{
    font-weight: bold;
    font-size: 1.5em;
    margin-top: -1px;
    margin-bottom: -15px;
}
#contactos .box-inside{
    padding: 15px;
}
#contactos li{
    font-weight: bold;
    text-align: left;
}
footer{
    background-color: rgb(9, 9, 54);
    color: white;
    padding: 25px;
}
footer a{
    color: rgb(180, 48, 65);
}
footer .box-icon{
    display: flex;
    flex-direction: row;
}
footer .insta{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #000;
    box-shadow: 1px 2px 3px 4px #000;
    background-image: url(assets/contacto/inta.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
}
footer .link{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #000;
    box-shadow: 1px 2px 3px 4px #000;
    background-image: url(assets/contacto/face.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
}

@media (min-width:500px){
    body{
        cursor: pointer;
    }
    h1{font-size: 5em;}
    h2{font-size: 4em;}
    h3{font-size: 3em;}
    h4{font-size: 1.7em;}
    h5{font-size: 1.4em;}
    p{font-size: 1.3em;}
    li{font-size: 1.3em;}
    a{font-size: 1.6em;}
    .button{padding: 1em 2em;}
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .box-body{
        display: flex;
        flex-direction: row;
    }
    .box-inside{
        margin-left: 2em;
        margin-bottom: 5em;
    }
    header nav{
        display: flex;
        position: absolute;
        right: 5em;
        top: 1em;
    }
    header a{
        margin-left: 2em;
    }
    header a:hover{
        color: rgb(180, 48, 65);
    }
    #hero{
        height: 100vh;
    }
    #hero .logo{
        position: relative;
        right: 30em;
        bottom: 100em;
    }
    #hero h1:hover{
        color: rgb(180, 48, 65);
    }
    #form .img{
        position: relative;
        right: 8em;
        top: 15em;
        width: 17em;
        height: 33em;
    }
    #form form{
        display: flex;
        flex-direction: column;
        width: 50em;
    }
    #form h4{
        text-align: center;
    }
    #form input{
        width: 60em;
        height: 5em;
    }
    #form a{
        width: 10em;
    }
    #form .box-body1{
        display: flex;
        flex-direction: row;
    }
    #form .box-inside{
        width: 33%;
        height: 20em;
    }
    #form h3{
        font-size: 1.9em;
    }
    #form a{
        font-size: 1.7em;
    }
    #contactos .box-body{
        display: flex;
        flex-direction: column;
    }
    #contactos .box-inside{
        width: 70em;
    }
    #contactos .box-icon li{
        font-weight: 300;
        font-size: 1.2em;
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
    }
    footer a{
        margin: 0;
    }
    footer ul{
        margin: 0;
    }
    footer li{
        margin: 0;
    }
    footer .box-inside{
        width: 25%;
    }
}