*{
    box-sizing: border-box;
}
body{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h1{font-size: 2.8em;}
h2{font-size: 2.2em;}
h3{font-size: 1.5em;}
h4{font-size: 1.2em;}
p{font-size: 1.1em;}
a{font-size: 1.1em;}
.container{
    max-width: 1400px;
    margin: auto;
}
nav{
    display: none;
}
.button{
    padding: 10px 20px;
    background-color:  rgb(180, 48, 65);
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 5px 5px 5px 2px black;
}
a{
    color: white;
    text-decoration: none;
}
.button:hover{
    background-color:  rgb(85, 5, 15);
}
#hero{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items: left;
    padding: 25px;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ) 
    ,url(assets/espuma/2.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 95vh;
}
#hero .logo{
    background-image: url(assets/alarma/logo.webp);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    margin-left: auto;margin-right: auto;
    width: 250px;
    height: 200px;
}
#hero p{
    margin-top: 25px;
}
#importancia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
}
.box-image1{
    background-image: url(assets/espuma/1.webp);
    width: 250px;
    height: 250px;
    margin-left: auto;margin-right: auto;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-image2{
    background-image: url(assets/espuma/2.jpeg);
    width: 250px;
    height: 250px;
    margin-left: auto;margin-right: auto;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-image3{
    background-image: url(assets/espuma/3.webp);
    width: 250px;
    height: 250px;
    margin-left: auto;margin-right: auto;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#importancia ol{
    list-style: circle ;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: left;
}
#importancia li{
    margin-bottom: 15px;
}
#componentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
}
#componentes .box-inside{
    background-color: rgb(180, 48, 65);
    border-radius: 15px;
    color: white;
    padding: 25px;
    margin-bottom: 25px;
    border: 1px solid rgba(0, 0, 0, .9);
    box-shadow: 5px 5px 5px black;
}
#componentes .button1{
    width: 350px;
    background-color: rgb(8, 8, 83);
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, .9);
    box-shadow: 5px 5px 5px black;
}
#efectividad{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color:rgb(180, 48, 65) ;
    color: white;
    padding: 25px;
}
#efectividad .box-inside{
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px black;
    margin-bottom: 25px;
}
#efectividad .box-icon{
    display: flex;
    flex-direction: row;
}
.box-icon p{
    width: 200px;
    text-align: left;
    margin-left: 20px;
}
.box-icon .material-symbols-outlined{
    margin-top: 20px;
    font-size: 25px;
}
.box-inside{
    text-align: left;
}
#actuacion{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
    background-color: rgb(180, 48, 65);
    color: white;
    padding: 25px;
}
#actuacion .box-inside{
    display: flex;
    flex-direction: row;
}
#actuacion span{
    margin-top: 20px;
}
#actuacion .box-inside p{
    width: 230px;
    margin-left: 20px;
}
#form{
    background-color: rgb(14, 14, 58);
    color: white;
}
#form .box-head{
    background-color: rgb(14, 14, 58);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 20px;
}
#form h2{
    position: relative;
    margin-top: 20px;
    font-size: 2.5em;
}
#form b{
    font-size: 1.2em;
    font-weight: bold;
}
.box-head p{
    font-weight: 100;
    font-style: italic;
    width: 300px;
}
#form .box-middle-one{
    display: flex;
    flex-direction: column;
    margin-top: -60px;
}
.box-middle-one p{
    margin-left: 60px;
    font-weight: 100;
    word-spacing: -1px;
    letter-spacing: -1px;
    line-height: .01;
}
#form .material-symbols-outlined{
    position: relative;
    top: 40px;
    left: 15px;
    font-size: 2em;
}
.box-middle-email p{
    margin-left: 60px;
    font-weight: bold;
    margin-bottom: 50px;
}
#form form{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: left;
    width: 95%;
    margin-left: auto;margin-right: auto;
}
.consulta h5{
    position: relative;
    top: 50px;
    font-size: 2em;
    color:rgb(180, 48, 65);
}
.consulta p{
    font-weight: bold;
}
.consulta{
    margin-top: -80px;
}
#form input{
    margin-bottom: 10px;
    padding: 10px 0px;
    border-radius: 5px;
}
#form .controls{
    height: 120px;
}
#form .button{
    background-color:rgb(180, 48, 65) ;
    border-radius: 5px;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 15px;
    border: 6px solid rgb(124, 17, 17)  ;
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255.9, alpha);
    color: white;
    margin-bottom: 30px;
    margin-left: auto;margin-right: auto;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
}
#form .button:hover{
    background-color: rgb(87, 46, 46);
    border: 2px solid rgba(255, 255, 255, .9);
    box-shadow: 5px 5px 5px 5px  rgb(180, 48, 65);
}
footer{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    color: white;
    background-color: rgb(14, 14, 58);
    padding: 20px;
}
footer .adress{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 30px;
}
.adress a{
    margin-top: 0px;
}
.adress p{
    margin-top: 0px;
    font-size: 0.9em;
    font-weight: 100;
    font-style: italic;
    width: 300px;
}
 footer .text{
    font-style: normal;
    font-size: 1.1em;
    width: 300px;
    margin-bottom: -1px;
    font-weight: bold;
    
}
footer .red{
    margin-left: 15px;
    margin-top: 20px;
}
footer a{
    font-size: 1.1em;
    text-decoration: none;
    color: rgb(180, 48, 65);
    font-weight: bold;
    margin: 0;
}
footer .caja{
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-top: 25px;
}
footer .cajas{
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    position: relative;
    margin-top: -20px;
}
footer img{
    width: 50px;
}
.caja:nth-child(2){
    margin-left: -18px;
}


@media (min-width:500px){
    body{
        cursor: pointer;
    }
    header nav{
        display: flex;
        flex-direction: row;
        position: absolute;
        margin-right: 0;
    }
    header a{
        font-size: 1.8em;
        margin-left: 3em;
        padding-top: 1em;
    }
    header a:hover{
        color: rgb(180, 48, 65);
    }
    header .container{
        display: flex;
        flex-direction: row;
        justify-content: right;
        margin-right: 5em;
    }
    #hero .container{
        margin-left: 4em;
    }
    #hero .logo{
        width: 30em;
        height: 15em;
        position: relative;
        bottom: 20em;
        margin-left: 0;
    }
    #hero h1{
        font-size: 5em;
    }
    #hero h1:hover{
        color: rgb(180, 48, 65);
    }
    #hero .button{
        padding: 1em 3em;
    }
    #hero a{
        font-size: 1.8em;
    }
    #hero p{
        font-size: 1.8em;
        margin-top: 2em; 
    }
    #importancia h2{
        font-size: 4em;
        width: 30em;
        color: rgb(14, 14, 58);
    }
    #importancia .box-head{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #importancia .box-head p{
        font-size: 2em;
        width: 70em;
    }
    b{
        font-size: 1.1em;
        font-weight: bold;
    }
    #importancia .box-body{
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
    #importancia .box-inside{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1em;
    }
    #importancia .box-image1, .box-image2, .box-image3{
        width: 30em;
        height: 30em;
        margin-left: 5em;
    }
    #importancia .box-inside h3{
        font-size: 2em;
    }
    #importancia .box-inside li{
        font-size: 1.7em;
    }
    #componentes .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-color: red;
    }
    #componentes h2{
        font-size: 4em;
        color: rgb(14, 14, 58);
        width: 35em;
        margin-left: 0px;
        text-align: center;
    }
    #componentes .box-body{
        display: flex;
        flex-direction: row;
    }
    #componentes .box-inside{
        margin-left: 3em;
        width: 40em;
        padding: 1em;
        text-align: center;
        box-shadow: 2em 2em 2em black;
        margin-bottom: 5em;
    }
    #componentes h3{
        font-size: 2.5em;
    }
    #componentes p{
        font-size: 1.7em;
    }
    #componentes .button1{
        padding: 1.5em 3em; 
        width: 40em;
    }
    #componentes a{
        font-size: 1.8em;
    }
    #efectividad{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #efectividad h2{
        font-size: 4em;
        color: rgb(14, 14, 58);
        text-align: center;
    }
    #efectividad .box-head p{
        font-size: 2.3em;
        width: 40em;
        margin-left: auto;
        margin-right: auto;
    }
    #efectividad .box-body{
        display: flex;
        flex-direction: row;
    }
    #efectividad .box-inside{
        padding: 2em;
        width: 50em;
        margin-left: 2em;
        box-shadow: 5em 5em 5em black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #efectividad .box-inside h3{
        font-size: 2.3em;
    }
    #efectividad .box-inside p{
        font-size: 1.6em;
        width: 20em;
    }
    #actuacion{
        display: flex;
        background-color: rgb(180, 48, 65);
        width: 156em;
    }
    #actuacion h2{
        font-size: 4em;
    }
    #actuacion p{
        font-size: 1.7em;
    }
    #actuacion .box-body{
        display: flex;
        flex-direction: row;
        align-items: items center;
        text-align: center;
        justify-content: center;
    }
    #actuacion .box-inside{
        width: 30em;
        border-radius: 15px;
        margin-left: 2em;
        display: flex;
        flex-direction: row;
        align-items: items center;
        text-align: center;
        justify-content: left;
    }
    #actuacion .box-inside p{
        width: 16em;
    }
    #form .box-head h2{
        font-size: 4em;
    }
    #form .box-head p{
        font-size: 1.6em;
        width: 60em;
    }
    #form .box-body{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1em;
    }
    #form .box-left{
        width: 15em;
    }
    #form .box-right{
        margin-left: 3em;
    }
    #form p{
        font-size: 1.7em;
    }
    #form span{
        font-size: 3em;
        position: relative;
        left: -100;
    }
    form .box-middle-one{
        display: flex;
        flex-direction: row;

    }
    footer .div-footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
