*{
    box-sizing: border-box;
}
body{
    font-family: "Rethink Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h1{font-size: 2.5em;}
h2{font-size: 2em;}
h3{font-size: 1.6em;}
h4{font-size: 1.3em;}
p{font-size: 1.1em;}
a{
    font-size: 1.1em;
    color: white;
    text-decoration: none;
}
li{font-size: 1.1em;}
b{
    font-size: 1.2em;
    font-weight: bold;
}
.container{
    max-width: 1400px;
    margin: auto;
}
.button{
    padding: 15px 25px;
    background-color:  rgb(180, 48, 65);
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px black;
}
.button:hover{
    background-color: rgb(88, 4, 4);
}
header nav{
    display: none;
}
#hero .logo{
    background-image: url(assets/alarma/logo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 200px;
    margin-top: -50px;
    margin-left: auto;margin-right: auto;
}
#hero{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 25px;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ) 
    ,url(assets/hidrantes/hero.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 95vh;
}
#hero h1{
    margin-bottom: 50px;
}
#hero p{
    margin-top: 50px;
}
#hidrante{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 25px;
}
.box-head p{
    width: 300xp;
    text-align: left;
}
#hidrante .box-img1{
    background-image: url(assets/hidrantes/1.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 270px;
    margin-left: auto;margin-right: auto;
    border: .5px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .2);
}
#hidrante .box-img2{
    background-image: url(assets/hidrantes/2.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 270px;
    margin-left: auto;margin-right: auto;
    border: .5px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .2);
}
#hidrante .box-img3{
    background-image: url(assets/hidrantes/3.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 270px;
    margin-left: auto;margin-right: auto;
    border: .5px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .2);
}
#funcionamiento{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 25px;
    background-color: rgb(5, 5, 53);
    color: white;
}
#mantenimiento{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: left;
    padding: 25px;
    background-color: rgb(180, 48, 65);
    color: white;
}
#mantenimiento h2{
    text-align: center;
}
#mantenimiento .box-inside{
    background-color: white;
    color:black;
    padding: 15px;
    margin-bottom: 15px;
    border: 1PX solid rgba(0, 0, 0, .5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .9);
    border-radius: 15px;
}
#mantenimiento .box-left{
    display: flex;
    flex-direction: row;
}
#mantenimiento .box-right{
    display: flex;
    flex-direction: row;
}
#mantenimiento .box-inside p{
    margin-left: 20px;
}
#mantenimiento .box-inside span{
    margin-top: 20px;
}
#mantenimiento .button{
    border: 1px solid black;
    width: 200px;
    text-align: center;
}
#normativa{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    align-items: left;
    padding: 25px;
    background-color: rgb(180, 48, 65);
    color: white;
}
#normativa h2{
    text-align: center;
}
#normativa .box-inside{
    display: flex;
    flex-direction: row;
}
#normativa .box-inside p{
    margin-left: 20px;
}
#normativa .box-inside span{
    margin-top: 20px;
}
#importancia{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding: 25px;
}

#form{
    background-color: rgb(14, 14, 58);
    color: white;
}
#form .box-head{
    background-color: rgb(14, 14, 58);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 20px;
}
#form h2{
    position: relative;
    margin-top: 20px;
    font-size: 2.5em;
}
#form b{
    font-size: 1.2em;
    font-weight: bold;
}
.box-head p{
    font-weight: 100;
    font-style: italic;
    width: 300px;
}
#form .box-middle-one{
    display: flex;
    flex-direction: column;
    margin-top: -60px;
}
.box-middle-one p{
    margin-left: 60px;
    font-weight: 100;
    word-spacing: -1px;
    letter-spacing: -1px;
    line-height: .01;
}
#form .material-symbols-outlined{
    position: relative;
    top: 40px;
    left: 15px;
    font-size: 2em;
}
.box-middle-email p{
    margin-left: 60px;
    font-weight: bold;
    margin-bottom: 50px;
    width: 200px;
    font-size: 1em;
}
#form form{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: left;
    width: 95%;
    margin-left: auto;margin-right: auto;
}
.consulta h5{
    position: relative;
    top: 50px;
    font-size: 2em;
    color:rgb(180, 48, 65);
}
.consulta p{
    font-weight: bold;
}
.consulta{
    margin-top: -80px;
}
#form input{
    margin-bottom: 10px;
    padding: 10px 0px;
    border-radius: 5px;
}
#form .controls{
    height: 120px;
}
#form .button{
    background-color:rgb(180, 48, 65) ;
    border-radius: 5px;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 15px;
    border: 6px solid rgb(124, 17, 17)  ;
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255.9, alpha);
    color: white;
    margin-bottom: 30px;
    margin-left: auto;margin-right: auto;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
}
#form .button:hover{
    background-color: rgb(87, 46, 46);
    border: 2px solid rgba(255, 255, 255, .9);
    box-shadow: 5px 5px 5px 5px  rgb(180, 48, 65);
}
footer{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    color: white;
    background-color: rgb(14, 14, 58);
    padding: 20px;
}
footer .adress{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 30px;
}
.adress a{
    margin-top: 0px;
}
.adress p{
    margin-top: 0px;
    font-size: 0.9em;
    font-weight: 100;
    font-style: italic;
    width: 300px;
}
 footer .text{
    font-style: normal;
    font-size: 1.1em;
    width: 300px;
    margin-bottom: -1px;
    font-weight: bold;
    
}
footer .red{
    margin-left: 15px;
    margin-top: 20px;
}
footer a{
    font-size: 1.1em;
    text-decoration: none;
    color: rgb(180, 48, 65);
    font-weight: bold;
    margin: 0;
}
footer .caja{
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-top: 25px;
}
footer .cajas{
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    position: relative;
    margin-top: -20px;
}
footer img{
    width: 50px;
}
.caja:nth-child(2){
    margin-left: -18px;
}

@media (min-width:500px){
    body{
        cursor: pointer;
    }
    header nav{
        display: flex;
        flex-direction: row;
        position: absolute;
        margin-left: 50em;
    }
    header a{
        font-size: 1.8em;
        margin-left: 3em;
        padding-top: 1em;
    }
    header a:hover{
        color: rgb(180, 48, 65);
    }
    header .container{
        display: flex;
        flex-direction: row;
        justify-content: right;
        margin-right: 5em;
    }
    #hero .container{
        margin-left: 4em;
    }
    #hero{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }
    #hero .logo{
        margin-left: 0px;
        width: 22em;
        height: 10em;
        position: relative;
        bottom: 16em;
    }
    #hero h1{
        font-size: 5em;
    }
    #hero h1:hover{
        color: rgb(180, 48, 65);
    }
    #hero .button{
        padding: 1em 4em;
    }
    #hero a{
        font-size: 1.5em;
        font-weight: bold;
    }
    #hero p{
        font-size: 1.7em;
    }
    #hidrante .container{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    #hidrante .box-head{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    #hidrante .box-body{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
    }   
    #hidrante .box-head h2{
        font-size: 4em;
        width: 29em;
    }
    #hidrante .box-head p{
        font-size: 1.9em;
        width: 49em;
        text-align: center;
    } 
    #hidrante .box-inside{
        margin-left: 3em;
    }
    #hidrante .box-img1{
        width: 25em;
        height: 25em;
    }
    #hidrante .box-img2{
        width: 25em;
        height: 25em;
    }
    #hidrante .box-img3{
        width: 25em;
        height: 25em;
    }
    #hidrante .box-inside{
        padding: 1em;
    }
    #hidrante .box-inside h3{
        font-size: 2em;
    }
    #hidrante .box-inside p{
        font-size: 1.5em;
    }
    #funcionamiento{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #funcionamiento h2{
        font-size: 4em;
    }
    #funcionamiento p{
        font-size: 1.5em;
    }
    #mantenimiento{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #mantenimiento h2{
        font-size: 4em;
    }
    #mantenimiento .box-head p{
        font-size: 1.8em;
        text-align: center;
        width: 50em;
    }
    #mantenimiento .box-body{
        display: flex;
        flex-direction: row;
    }
    #mantenimiento .box-inside{
        margin-left: 2em;
        margin-bottom: 4em;
    }
    #mantenimiento .box-body h3{
        font-size: 2em;
    }
    #mantenimiento .box-body p{
        font-size: 1.5em;
    }
    #mantenimiento .button{
        padding: 1em 4em;
        width: 18em;
    }
    #mantenimiento a{
        font-size: 1.5em;
        font-weight: bold;
    }
    #normativa{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
        background-color: rgb(14, 14, 58);
    }
    #normativa .box-head h2{
        font-size: 4em;
    }
    #normativa p{
        font-size: 1.9em;
        width: 50em;
    }
    #importancia{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #importancia h2{
        font-size: 4em;
        font-weight: bold;
    }
    #importancia p{
        font-size: 1.8em;
    }

}