*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
h1{font-size: 2.1em;}
h2{font-size: 1.9em;}
h3{font-size: 1.5em;}
p{font-size: 0.9em; font-weight: 400;}
b{font-size: 1.2em;}
a{
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.button{
    padding: 10px 25px;
    background-color: rgb(180, 48, 65);
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, .9);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .9);
}
.button:hover{
    background-color: rgb(95, 12, 23);
}
.box-button{
    text-align: center;
    margin-left: auto;margin-right: auto;
    margin-top: 50px;
}
.container{
    max-width: 1400px;
    margin: auto;
}
nav{
    display: none;
}
#hero{
    background-image: linear-gradient(0deg,
    rgba(0,0,0,.6),
    rgba(0,0,0,.6)
    )
    ,url(assets/monterrey/hero.jpg);
    color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items: left;
    padding: 25px;
    margin-top: -15px;
    height: 95vh;
}
#hero .box-image a{
    width: 250px;
    height: 210px;
    background-image: url(assets/monterrey/logo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;margin-right: auto;
    margin-top: -60px;
}
#hero h1{
    text-align: center;
}
#hero h3{
    text-align: center;
}
#hero p{
    width: 300px;
    font-weight: bold;
}

#importancia{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 25px;
    color: black;
}
#importancia h2{
    text-align: center;
}
#importancia .img{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,-.1),
        rgba(0,0,0,-.1)
    ) 
    ,url(assets/monterrey/1.webp);
    width: 300px;
    height: 480px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, .9);
}
#importancia .box-inside h3{
    color: rgb(180, 48, 65);
    text-align: center;
    margin-top: 50px;
}
#importancia .box-icon{
    display: flex;
    flex-direction: row;
}
#importancia span{
    margin-top: 25px;
    margin-left: -4px;
}
#importancia .box-icon p{
    margin-left: 25px;
    font-size: 1.1em;
}
#factores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.3),
        rgba(0,0,0,.3)
    ) 
    ,url(assets/monterrey/hero\ 2.jpeg);
    height: 100vh;
}
#factores .material-symbols-outlined{
    font-size: 3.5em;
}
#beneficios{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding: 25px;
}
#beneficios h2{ 
    text-align: center;
}
#beneficios .box-icon{
    display: flex;
    flex-direction: row;
}
#beneficios span{
    color:  rgb(180, 48, 65);
    margin-top: 16px;
    margin-left: -3px;
}
#beneficios .box-icon p{
    margin-left: 25px;
    font-weight: bold;
    font-size: 1.1em;
    color: rgb(180, 48, 65);
}
#tipos{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: left;
    padding: 25px;
}
#tipos .box-head{
    text-align: center;
}
#tipos h3{
    color: rgb(180, 48, 65);
}
#tipos .box-inside{
    display: flex;
    flex-direction: row;
}
#tipos span{
    color: rgb(180, 48, 65);
    margin-top: 15px;
    margin-left: -3px;
    font-weight: bold;
    font-size: 2em;
}
#tipos p{
    margin-left: 21px;
}
#sistemas{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: left;
    padding: 25px;
}
#sistemas .box-head{
    text-align: center;
}
#sistemas h2{
    color: rgb(180, 48, 65);
}
#sistemas .box-inside{
    display: flex;
    flex-direction: column;
}
#sistemas .box-icon{
    border: 1px solid rgba(0, 0, 0, .9);
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px black;
    margin-bottom: 25px;
    width: 250px;
    height: 290px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;margin-right: auto;
}
#sistemas span{
    font-size: 2.5em;
    color: rgb(180, 48, 65);
}
#equipos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
}
#equipos h2{
    color:  rgb(180, 48, 65);
}#equipos .box-icon{
    border: 1px solid rgba(0, 0, 0, .9);
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px black;
    margin-bottom: 25px;
    width: 250px;
    height: 290px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;margin-right: auto;
}
#equipos span{
    color:rgb(180, 48, 65) ;
    font-size: 2.5em;
}
#obra{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: left;
    padding: 25px;
    background-image: linear-gradient(
        0deg,
        rgba(3, 5, 112, .7),
        rgba(3,5,112,.7)
    ) 
    ,url(assets/monterrey/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
}
#obra .box-head{
    text-align: center;
}
#obra .box-inside{
    border-left: 5px solid rgb(180, 48, 65);
    padding: 0px 15px;
    margin-bottom: 25px;
}
#box-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 25px;
    background-color: rgb(7, 7, 53);
    color: white;
    text-align: center;
}
#normas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 25px;
}
#normas .box-head{
    text-align: center;
}
#normas .nfpa{
    background-image: url(assets/monterrey/nfpa-logo.png);
    width: 300px;
    height: 300px;
    background-position: center center;
    background-size: contain;
    text-align: center;
    margin-left: auto;margin-right: auto;
}
#normas .fmglobal{
    background-image: url(assets/monterrey/fm-globalnewlogo.png.webp);
    width: 300px;
    height: 300px;
    background-position: center center;
    background-size: contain;
    text-align: center;
    margin-left: auto;margin-right: auto;
}
#seguridad{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align-last: left;
    padding: 25px;
    background-image:linear-gradient(
        0deg,
        rgba(180,48,0,.9),
        rgba(255,00,0,0.6)
    ) 
    ,url(assets/monterrey/nfpa-logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
}
#seguridad .box-inside{
    border-left: 7px solid white;
    padding:  0px 15px;
    margin-bottom: 25px;
}
#seguridad h2{
    text-align: center;
}
#preguntas{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 25px;
}
#preguntas h3{
    color: rgb(180, 48, 65);
}
#preguntas .box-inside{
    border-left: 8px solid  rgb(180, 48, 65) ;
    padding:  0px 15px;
}
#contacto{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding: 25px;
    color: white;
    background-color: rgb(7, 7, 56);
}
#contacto .box-map{
    width: 300px;
    height: 250px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 4px black;
    margin-left: auto;margin-right: auto;
}
#contacto .box-inside{
    display: flex;
    flex-direction: row;
}
#contacto span{
    margin-top: 25px;
    margin-left: -2px;
}
#contacto p{
    margin-left: 25px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    color: white;
    background-color: rgb(14, 14, 58);
    padding: 20px;
}
footer .adress{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 30px;
}
.adress a{
    margin-top: 0px;
}
.adress p{
    margin-top: 0px;
    font-size: 0.8em;
    font-weight: 100;
    font-style: italic;
    width: 300px;
}
 footer .text{
    font-style: normal;
    font-size: 1.1em;
    width: 300px;
    margin-bottom: -1px;
    font-weight: bold;
    
}
footer .red{
    margin-left: 15px;
    margin-top: 20px;
}
footer a{
    font-size: 1.1em;
    text-decoration: none;
    color: rgb(180, 48, 65);
    font-weight: bold;
    margin: 0;
}
footer .caja{
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-top: 25px;
}
footer .cajas{
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    position: relative;
    margin-top: -20px;
}
footer img{
    width: 50px;
}
.caja:nth-child(2){
    margin-left: -18px;
}



@media (min-width:500px){
    body{
        cursor: pointer;
    }
    h1{font-size: 5em;}
    h2{font-size: 4em;}
    h3{font-size: 3em;}
    h4{font-size: 2.5em;}
    p{font-size: 1.5em;}
    b{font-size: 1.3em;}
    a{font-size: 1.8em;}
    li{font-size: 1.8em;}
    section{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 2em;
    }
    .button{padding: 1em 2em;}
    header nav{
        display: flex;
        position: absolute; right: 3em;
    }
    header a{
        margin-top: 1em;
        margin-left: 2em;
        font-size: 2.2em;
    }
    header a:hover{
        color: rgb(180, 48, 65);
    }
    #hero{
        height: 101vh;
    }
    #hero .container{
        margin-left: 2em;
    }
    #hero h1{
        text-align: left;
    }
    #hero h3{
        text-align: left;
    }
    #hero p{
        width: 100%;
    }
    #hero .box-button{
        margin-right: 65em;
    }
    #importancia b{
        font-size: 1.2em;
    }
    #importancia .img{
        margin-left: auto;margin-right: auto;
        width: 60em;
        height: 30em;
    }
    #importancia .box-body{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #importancia .box-inside{
        width: 40%;
        margin-left: 2em;
    }
    #importancia .box-inside p{
        font-size: 1.5em;
    }
    #factores{
        background-image:linear-gradient(
            0deg,
            rgba(0,0,0.5),
            rgba(0,0,0,.5)
        ) 
        ,url(assets/monterrey/hero.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #factores h2:hover{
        color: rgb(180, 48, 65);
    }
    #factores h3:hover{
        color: rgb(180, 48, 65);
    }
    #factores .container span{
        font-size: 5em;
    }
    #beneficios h2:hover{
        color: rgb(180, 48, 65);
    }
    #beneficios p{
        width: 100%;
        text-align: center;
        font-size: 1.8em;
    }
    #beneficios .box-inside p{
        font-size: 1.8em;
        text-align: left;
    }
    #tipos .box-body{
        display: flex;
        flex-direction: row;
    }
    #tipos .box-inside{
        margin-left: 2em;
    }
    #sistemas .box-body{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #sistemas .box-icon{
        width: 35em;
        margin-left: 2em;
        margin-bottom: 2em;
        display: flex;
        flex-direction: row;
    }
    #sistemas span{
        margin-bottom: 3em;
    }
    #equipos .box-body{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #equipos .box-icon{
        width: 38em;
        margin-left: 2em;
        margin-bottom: 2em;
        display: flex;
        flex-direction: row;
    }
    #equipos span{
        margin-bottom: 3em;
    }
    #obra .box-body{
        display: flex;
        flex-direction: row;
    }
    #obra .box-inside{
        width: 33%;
        margin-left: 2em;
    }
    #obra p{
        font-size: 1.3em;
    }
    #box-head h2{
        width: 100%;
        font-size: 3.5em;
    }
    #normas .box-body{
        display: flex;
        flex-direction: row;
    }
    #normas .box-inside{
        width: 25%;
        padding: 1em;
    }
    #normas h3{
        font-size: 1.8em;
    }
    #normas p{
        font-size: 1em;
    }
    #seguridad .box-body{
        display: flex;
        flex-direction: row;
    }
    #seguridad .container h2{
        text-align: center;
    }
}
