*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
h1{font-size: 2.1em;}
h2{font-size: 1.9em;}
h3{font-size: 1.5em;}
p{font-size: 0.9em; font-weight: 400;}
b{font-size: 1.2em;}
a{
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.button{
    padding: 10px 25px;
    background-color: rgb(180, 48, 65);
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, .9);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .9);
}
.button:hover{
    background-color: rgb(95, 12, 23);
}
.box-button{
    text-align: center;
    margin-left: auto;margin-right: auto;
    margin-top: 50px;
}
.container{
    max-width: 1400px;
    margin: auto;
}
nav{
    display: none;
}
#hero{
    background-image: linear-gradient(0deg,
    rgba(0,0,0,.6),
    rgba(0,0,0,.6)
    )
    ,url(assets/monterrey/hero.jpeg);
    color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items: left;
    padding: 25px;
    margin-top: -15px;
    height: 95vh;
}
#hero .logo{
    width: 250px;
    height: 210px;
    background-image: url(assets/monterrey/logo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;margin-right: auto;
    margin-top: -60px;
}
#hero h1{
    text-align: center;
}
#hero h3{
    text-align: center;
}
#hero p{
    width: 300px;
    font-weight: bold;
}

#importancia{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 25px;
    color: black;
}
#importancia h2{
    text-align: center;
}
#importancia .img{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,-.1),
        rgba(0,0,0,-.1)
    ) 
    ,url(assets/monterrey/1.webp);
    width: 300px;
    height: 480px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, .9);
}
#importancia .box-inside h3{
    color: rgb(180, 48, 65);
    text-align: center;
    margin-top: 50px;
}
#importancia .box-icon{
    display: flex;
    flex-direction: row;
}
#importancia span{
    margin-top: 25px;
    margin-left: -4px;
}
#importancia .box-icon p{
    margin-left: 25px;
    font-size: 1.1em;
}
















footer{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    color: white;
    background-color: rgb(14, 14, 58);
    padding: 20px;
}
footer .adress{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 30px;
}
.adress a{
    margin-top: 0px;
}
.adress p{
    margin-top: 0px;
    font-size: 0.8em;
    font-weight: 100;
    font-style: italic;
    width: 300px;
}
 footer .text{
    font-style: normal;
    font-size: 1.1em;
    width: 300px;
    margin-bottom: -1px;
    font-weight: bold;
    
}
footer .red{
    margin-left: 15px;
    margin-top: 20px;
}
footer a{
    font-size: 1.1em;
    text-decoration: none;
    color: rgb(180, 48, 65);
    font-weight: bold;
    margin: 0;
}
footer .caja{
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-top: 25px;
}
footer .cajas{
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    position: relative;
    margin-top: -20px;
}
footer img{
    width: 50px;
}
.caja:nth-child(2){
    margin-left: -18px;
}