*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
h1{font-size: 2.5em;}
h2{font-size: 2em;}
h3{font-size: 1.5em;}
h4{font-size: 1.2em;}
h5{font-size: 1em;}
p{font-size: .9em;}
li{font-size: 1em;}
a{font-size: 1.2em; color: white; text-decoration: none;}
b{font-size: 1.2em;}
.container{
    max-width: 1400px;
    margin: auto;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
}
.button{
    background-color: rgb(7, 7, 49);
    color: #fff;
    border-radius: 15px;
    border: 1px solid #000;
    font-weight: bold;
    padding: 10px 25px;
    position: relative;
    top: 1em;
}
header nav{
    display: none;
}
#hero{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ),url(assets/nosotros/hero2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 85vh;
}
#hero .logo{
    width: 150px;
    height: 120px;
    background-image: url(assets/nosotros/logo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -200px;
}
#quienes .container{
    border-top: 6px solid rgb(180, 48, 65);
}
#quienes .img{
    width: 300px;
    height: 300px;
    background-image: url(assets/nosotros/obra.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;margin-right: auto;
    border-radius: 15px;
    border: 1px solid rgb(180, 48, 65);
    box-shadow: 5px 5px 5px #0000;
}
#quienes p{
    text-align: justify;
    padding: 25px;
    font-weight: 300;
    margin-bottom: 35px;
}
#quienes h5{
    width: 250px;
    margin-left: auto;margin-right: auto;
}
#quienes .logopsi{
    width: 50px;
    height: 50px;
    background-image: url(assets/nosotros/LOGOPSI.png.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-left: auto;margin-right: auto;
    top: 15px;
}
#quienes .logodom{
    width: 100px;
    height: 50px;
    background-image: url(assets/nosotros/logo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-left: auto;margin-right: auto;
    top: 15px;
}
#nosotros{
    background-color: rgb(7, 7, 49);
    color: #fff;
}
#nosotros .img2{
    width: 300px;
    height: 200px;
    background-image: url(assets/nosotros/3.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
#nosotros .img3{
    width: 300px;
    height: 200px;
    background-image: url(assets/nosotros/2.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
#nosotros p{
    text-align: justify;
}
#nosotros h3{
    color: rgb(180, 48, 65);
}
#porque h2{
    color: rgb(180, 48, 65);
}
#porque .box-inside{
    width: 250px;
    height: 250px;
    background-color: rgb(7, 7, 49);
    margin-bottom: 25px;
    margin-left: auto;margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#porque .box1{
    background-image: url(assets/nosotros/nfpa-y-fm.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 170px;
    height: 150px;
}
#porque .box2{
    background-image: url(assets/nosotros/2.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 170px;
    height: 150px;
}
#porque .box3{
    background-image: url(assets/nosotros/3.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 170px;
    height: 150px;
}
#porque .box4{
    background-image: url(assets/nosotros/5.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 170px;
    height: 150px;
}
#porque .box5{
    background-image: url(assets/nosotros/3.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 170px;
    height: 150px;
}
#porque .box6{
    background-image: url(assets/nosotros/PSIDOM-FINAL-1-qqs4zaqlobnizieezjoio3o8b7eyggxr3qjcwk6q28.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 170px;
    height: 150px;
}
#list{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ) 
    ,url(assets/nosotros/obra.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
#list li{
    text-align: left;
    margin-bottom: 15px;
    font-weight: 400;
}
footer{
    background-color: rgb(7, 7, 68);
    color: white;
    padding: 25px;
}
footer a{
    font-size: 1.3em;
    color: rgb(180, 48, 65);
    font-weight: bold;
}
footer li{
    font-weight: 400;
    font-size: .9em;
    color: white;
    font-style: italic;
}
footer p{
    font-weight: bold;
}
footer .box-icon{
    display: flex;
    flex-direction: row;
}
footer .insta{
    background-image: url(assets/nosotros/inta.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    color: white;
    background-color: white;
    border-radius: 40%;
}
footer .link{
    background-image: url(assets/nosotros/face.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    color: white;
    background-color: white;
    border-radius: 40%;
    margin-left: 15px;
}

@media (min-width:500px){
    body{cursor: pointer;}
    h1{font-size: 5em;}
    h2{font-size: 4em;}
    h2:hover{color: rgb(180, 48, 65);}
    h3{font-size: 3em;}
    h4{font-size: 3em;}
    h5{font-size: 2em;}
    p{font-size: 1.4em;}
    li{font-size: 1.4em;}
    b{font-size: 1.1em;}
    a{font-size: 1.5em;}
    .container{
        min-width: 500px;
        margin: auto;
    }
    .box-body{
        display: flex;
        flex-direction: row;
    }
    .box-inside{
        margin-left: 2em;
        margin-top: 5em;
    }
    .button{
        padding: 1em 2em;
        font-weight: bold;
        color: #fff;
        position: relative;
        top: 2em;
    }
    header nav{
        display: flex;
        position: absolute;
        right: 5em;
        top: 1em;
    }
    header a{
        font-weight: bold;
        margin-left: 2em;
    }
    header a:hover{
        color: rgb(180, 48, 65);
    }
    #hero{
        height: 100vh;
    }
    #hero .container{
        margin-left: 0;
    }
    #hero h1:hover{
        color: rgb(180, 48, 65);
    }
    #hero .logo{
        width: 15em;
        height: 10em;
        margin-left: 5em;
    }
    #quienes h2{
        font-size: 1.8em;
        color: rgb(180, 48, 65);
        margin: 0;
        margin-bottom: 2em;
        margin-left: -2em;
    }
    #quienes .box-inside{
        width: 50%;
    }
    #quienes .img{
        width: 30em;
        height: 20em;
    }

    #quienes p{
        font-size: 1.2em;
        margin: 0;
    }
    #quienes .box-icon{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 110%;
    }
    #quienes h5{
        font-size: 1.2em;
        width: 20em;
    }
    #quienes .logopsi{
        width: 7em;
        height: 7em;
    }
    #quienes .logodom{
        width: 8em;
        height: 7em;
    }
    #nosotros .box-inside{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #nosotros p{
        width: 22em;
        font-size: 1.2em;
    }
    #nosotros .box-inside h3{
        font-size: 1.8em;
    }
    #porque{
        display: flex;
        flex-direction: row;
    }
    #porque .box-body1{
        display: flex;
        flex-direction: row;
    }
    #porque .box-inside{
        margin-left: 2em;
        border-radius: 15px;
        border: 1px solid #fff;
        box-shadow: 5px 5px 5px 5px ;
    }
    #porque .box-inside:hover{
        width: 20em;
        height: 20em;
    }
    #list li:hover{
        color: rgb(180, 48, 65);
    }
    footer a{
        font-size: 1.4em;
        margin: 0;
    }
    footer p{
        font-size: 1.2em;
        margin: 0;
    }
    footer li{
        font-size: 1.2em;
        margin: 0;
    }
    footer ol{
        margin: 0;
        margin-left: -1em;
    }
    footer .box-inside{
        width: 25%;
    }
}

