*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.box-inside h1{
    color: brown;
    font-size: 10em;
}
h1{font-size: 2.5em;}
h2{font-size: 2em;}
h3{font-size: 1.5em;}
h4{font-size: 1.2em;}
h5{font-size: 1em;}
p{font-size: 1em;}
li{font-size: 1em;}
a{font-size: 1.2em; color: #fff; text-decoration: none;}
.container{
    max-width: 1400px;
    margin: auto;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
}
header nav{
    display: none;
}
#hero{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ) 
    ,url(assets/proyectos/obra.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    color: #fff;
}
#hero .logo{
    background-image: url(assets/proyectos/logo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 120px;
    margin-left: auto;margin-right: auto;
    position: relative;
    top: -180px;
}
#proyectos h2{
    text-align: left;
    color: rgb(180, 48, 65);
}
#proyectos h5{
    text-align: left;
    margin-top: -20px;
}
#proyectos .box-body{
    border: 1px solid #010020;
    padding: 15px;
    border-radius: 15px;
}
#proyectos .box-inside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#proyectos .box-img1{
    background-image: url(assets/proyectos/img1.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 270px;
    height: 250px;
    border-radius: 15px;
}
#proyectos .box-img2{
    background-image: url(assets/proyectos/img2.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 270px;
    height: 250px;
    border-radius: 15px;
}
#proyectos .box-img3{
    background-image: url(assets/proyectos/img3.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 270px;
    height: 250px;
    border-radius: 15px;
}
#proyectos .box-img4{
    background-image: url(assets/proyectos/img4.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 270px;
    height: 250px;
    border-radius: 15px;
}
#proyectos .box-img5{
    background-image: url(assets/proyectos/img5.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 270px;
    height: 250px;
    border-radius: 15px;
}
#proyectos .box-inside p{
    position: relative;
    top: -25px;
    font-weight: 400;
}
footer{
    background-color: rgb(5, 5, 53);
    color: white;
    padding: 25px 25px;
}
footer a{
    color: rgb(180, 48, 65);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: -5px;
    margin-left: 33px;
}
footer li{
    list-style: none;
    font-weight: 440;
}
footer .box-inside{
    margin-bottom: 50px;
}
footer h5{
    margin-left: 35px;
    font-size: 1.2em;
}
footer .insta{
    background-image: url(assets/proyectos/inta.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 40%;
}
footer .link{
    background-image: url(assets/proyectos/face.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    background-color: white;
    margin-left: 5px;
    border-radius: 40%;
}
footer .box-icon{
    display: flex;
    flex-direction: row;
    margin-left: 35px;
}


@media (min-width:500px){
    body{cursor: pointer;}
    h1{font-size: 5em;}
    h2{font-size: 4em;}
    h3{font-size: 2em;}
    h4{font-size: 2em;}
    h5{font-size: 2em;}
    p{font-size: 1.5em;}
    li{font-size: 1.3em;}
    a{font-size: 1.5em;}
    b{font-size: 1.2em;}
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .box-body{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .box-inside{
        margin-left: 2em;
        margin-top: 5em;
    }
    .container{
        min-width: 500px;
        margin: auto;
    }
    header nav{
        display: flex;
        position: absolute;
        right: 5em;
        top: 1em;
    }
    header a{
        font-weight: bold;
        margin-left: 2em;
    }
    header a:hover{
        color: rgb(180, 48, 65);
    }
    #hero{
        height: 100vh;
    }
    #hero .container{
        margin-left: 5em;
    }
    #hero .logo{
        margin-left: 0;
        width: 15em;
        height: 10em;
        position: relative;
    }
    #hero h1:hover{
        color: rgb(180, 48, 65);
    }
    #proyectos h2:hover{
        color: #000;
    }
    #proyectos h5:hover{
        font-size: 3em;
        color: rgb(180, 48, 65);
    }
    #proyectos .box-body{
        border: 0px;
    }
    #proyectos .box-img1:hover{
        width: 30em;
    }
    #proyectos .box-img2:hover{
        width: 30em;
    }
    #proyectos .box-img3:hover{
        width: 30em;
    }
    #proyectos .box-img4:hover{
        width: 30em;
    }
    #proyectos .box-img5:hover{
        width: 30em;
    }
    #proyectos .box-inside{
        margin-left: 5em;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #proyectos h3:hover{
        color: rgb(180, 48, 65);
    }
    #proyectos h3{
        width: 20em;
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    footer li{
        font-weight: 200;
    }
    footer .box-inside{
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    footer h5{
        color: rgb(180, 48, 65);
        font-size: 1.5em;
    }
    footer li{
        font-size: 1.2em;
    }
}