*{
    box-sizing: border-box;
}
body{
font-family: "Rethink Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
h1{font-size: 2.5em;}
h2{font-size: 2em;}
h3{font-size: 1.5em;}
h4{font-size: 1.3em;}
p{font-size: 1.1em;}
a{font-size: 1.1em;}
li{list-style: none;}
.container{
    max-width: 1400px;
    margin: auto;
}
header nav{
    display: none;
}
.button{
    padding: 10px 25px;
    background-color: rgb(180, 48, 65);
    border: 1px solid rgba(0, 0, 0, .9);
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .9);   
}
.button:hover{
    background-color: rgb(78, 10, 10);
}
#hero .logo{
    background-image: url(assets/bombas/logo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 200px;
    margin-top: -100px;
    margin-left: auto;margin-right: auto;
}
#hero a{
    color: white;
    text-decoration: none;
}
#hero{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align:left;
    padding: 25px;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ) 
    ,url(assets/bombas/hero.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    color: white;
}
#hero p{
    margin-top: 50px;
}
#cuarto{
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#cuarto .box-inside{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#cuarto .box-icon1{
    background-image: url(assets/bombas/1.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 280px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .9);
}
#cuarto .box-icon2{
    background-image: url(assets/bombas/2.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 280px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .9);
}
#cuarto .box-icon3{
    background-image: url(assets/bombas/3.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 280px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .9);
}
#cuarto h4{
    position: relative;
    top: 20px;
    left: 0px;
}