*{
    box-sizing: border-box;
}
body{
    font-family: "Rethink Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 100;
    color: black;
}
h1{font-size: 2.5em;}
h2{font-size: 2.1em;}
h3{font-size: 1.6em;}
h4{font-size: 1.2em;}
p{font-size: 1em;}
li{font-size: 1.1em;}
a{font-size: 1.2em;
    text-decoration: none;}
.container{
    max-width: 1400px;
    margin: auto;
}
.button{
    padding: 14px 25px;
    background-color:  rgb(180, 48, 65);
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, .9);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .9);
    color: white;
}
.button:hover{
    background-color: rgb(49, 3, 3);
}
header nav{
    display: none;
}
#hero{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    color: white;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.6),
        rgba(0,0,0,.6)
    ) 
    ,url(assets/riser/hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    padding: 25px;
}
#hero .logo{
    background-image: url(assets/riser/logo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 210px;
    margin-left: auto;margin-right: auto;
    margin-top: -140px;
}
#hero h1{
    margin-bottom: 50px;
}
#hero p{
    margin-top: 50px;
}
b{
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(225, 225, 225);
}
#riser{
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: left;
    justify-content: left;
    text-align: left;
}
#riser h2{
    color: rgb(180, 48, 65);
    text-align: center;
}
#componentes{
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-bottom: 70px;
}
#componentes h2{
    color: rgb(180, 48, 65);
    text-align: center;
}
#componentes .box-inside{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#componentes .box-icon{
    display: flex;
    flex-direction: row;
}
#componentes span{
    margin-top: 25px;
    margin-left: 5px;
}
#componentes .box-icon p{
    margin-left: 25px;
    text-align: left;
}
#componentes h3{
    color:  rgb(180, 48, 65);
}
#componentes .button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 1.5em;
}
#tipos{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 25px;
    margin-bottom: 50px;
}
#tipos h2{
    text-align: center;
    color:  rgb(180, 48, 65);
}
#tipos .box-inside{
     background-color:  rgb(180, 48, 65);
     color: white;
     padding: 15px;
     border-radius: 15px;
     border: 1px solid rgba(0, 0, 0, .9);
     margin-bottom: 25px;
     box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .9);
}
#tipos .box-inside h2{
    color: white;
}
#tipos .button{
    position: relative;
    top: 25px;
    left: 15vw;
}
#diseño{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: left;
    background-color: rgb(180, 48, 65);
    color: white;
    padding: 25px;
}
#diseño .box-head{
    margin-bottom: 50px;
}
#diseño .box-body{
    margin-bottom: 45px;
}
#diseño .button{
    position: relative;
    top: 25px;
    background-color: rgb(3, 3, 41);
    width: 85vw;
}
#diseño .button1{
    text-align: center;
    width: 85vw;
}
#diseño h2{
    text-align: center;
}
#diseño h3{
    text-align: center;
}
#diseño .box-inside{
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .9);
    padding:  5px 15px;
    margin-bottom: 35px;
    background-color: rgba(16, 23, 88);
}
#diseño .box-icon{
    display: flex;
    flex-direction: row;
}
#diseño span{
    margin-top: 25px;
    margin-left: -5px;
}
#diseño .box-icon p{
    margin-left: 25px;
}
#normativas{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 25px;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)
    ) 
    ,url(assets/riser/hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#normativas h2{
    text-align: center;
}
#normativas .box-inside{
    background-color: white;
    color: black;
    padding: 5px 15px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 15px;
    margin-bottom: 25px;
}
#normativas h3{
    text-align: center;
}
#normativas .box-icon{
    display: flex;
    flex-direction: row;
}
#normativas span{
    margin-top: 25px;
    margin-left: -5px;
}
#normativas .box-icon p{
    margin-left: 25px;
}
#normativas .box-deep{
    margin-left: 25px;
}
#importancia{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 25px;
    color: white;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)
    ) 
    ,url(assets/riser/hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#importancia ol{
    list-style: circle;
}


#form{
    background-color: rgb(14, 14, 58);
    color: white;
}
#form .box-head{
    background-color: rgb(14, 14, 58);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 20px;
}
#form h2{
    position: relative;
    margin-top: 20px;
    font-size: 2.5em;
}
#form b{
    font-size: 1.2em;
    font-weight: bold;
}
.box-head p{
    font-weight: 100;
    font-style: italic;
    width: 300px;
}
#form .box-middle-one{
    display: flex;
    flex-direction: column;
    margin-top: -60px;
}
.box-middle-one p{
    margin-left: 60px;
    font-weight: 100;
    word-spacing: -1px;
    letter-spacing: -1px;
    line-height: .01;
}
#form .material-symbols-outlined{
    position: relative;
    top: 40px;
    left: 15px;
    font-size: 2em;
}
.box-middle-email p{
    margin-left: 60px;
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 0.9em;
}
#form form{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: left;
    width: 95%;
    margin-left: auto;margin-right: auto;
}
.consulta h5{
    position: relative;
    top: 50px;
    font-size: 2em;
    color:rgb(180, 48, 65);
}
.consulta p{
    font-weight: bold;
}
.consulta{
    margin-top: -80px;
}
#form input{
    margin-bottom: 10px;
    padding: 10px 0px;
    border-radius: 5px;
}
#form .controls{
    height: 120px;
}
#form .button{
    background-color:rgb(180, 48, 65) ;
    border-radius: 5px;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 15px;
    border: 6px solid rgb(124, 17, 17)  ;
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255.9, alpha);
    color: white;
    margin-bottom: 30px;
    margin-left: auto;margin-right: auto;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
}
#form .button:hover{
    background-color: rgb(87, 46, 46);
    border: 2px solid rgba(255, 255, 255, .9);
    box-shadow: 5px 5px 5px 5px  rgb(180, 48, 65);
}
footer{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    color: white;
    background-color: rgb(14, 14, 58);
    padding: 20px;
}
footer .adress{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 30px;
}
.adress a{
    margin-top: 0px;
}
.adress p{
    margin-top: 0px;
    font-size: 0.8em;
    font-weight: 100;
    font-style: italic;
    width: 300px;
}
 footer .text{
    font-style: normal;
    font-size: 1.1em;
    width: 300px;
    margin-bottom: -1px;
    font-weight: bold;
    
}
footer .red{
    margin-left: 15px;
    margin-top: 20px;
}
footer a{
    font-size: 1.1em;
    text-decoration: none;
    color: rgb(180, 48, 65);
    font-weight: bold;
    margin: 0;
}
footer .caja{
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-top: 25px;
}
footer .cajas{
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    position: relative;
    margin-top: -20px;
}
footer img{
    width: 50px;
}
.caja:nth-child(2){
    margin-left: -18px;
}


@media (min-width:500px){
    h1{font-size: 5em;}
    h2{font-size: 4em;}
    h3{font-size: 2.5em;}
    h4{font-size: 2.3em;}
    p{font-size: 1.5em;}
    a{font-size: 1.8em;}
    li{font-size: 1.8em;}
   b{font-size: 1.3em;}
   section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em;
   }
   .button{
    padding: 1em 2em;
   }
   header{
    display: flex;
    flex-direction: column;
   }
   header nav{
    display: flex;
    position: absolute;
   }
   header a{
    text-decoration: none;
    color: #fff;
    margin-left: 2em;
   }
   header a:hover{
    color: rgb(180, 48, 65);
   }
   #hero{
    height: 100vh;
   }
   #hero .logo{
    margin-left: 0em;
    margin-bottom: 20em;
    width: 20em;
   }
   #hero .container{
    margin-left: 0em;
   }
   #hero h1:hover{
    color: rgb(180, 48, 65);
   }
   #riser b{
    color: #000;
   }
   #riser p{
    width: 100%;
   }
   #componentes .box-head b{
    color: #000;
   }
   #componentes p{
    width: 100%;
   }
   #componentes .box-body{
    display: flex;
    flex-direction: row;
   }
   #componentes .box-inside{
    margin-left: 2em;
   }
   #componentes .container{
    width: 100%;
   }
   #componentes b{
    color: #000;
   }
   #tipos .box-head p{
    width: 100%;
   }
   #tipos b{
    color: #000;
   }
   #tipos .box-body{
    display: flex;
    flex-direction: row;
   }
   #tipos .box-inside{
    width: 50%;
    margin-left: 2em;
    padding: 1em 2em;
   }
   #tipos .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   }
   #tipos a{
    margin-right: 22em;
   }
   #diseño .box-head p{
    width: 100%;
    text-align: center;
   }
   #diseño .box-body{
    display: flex;
    flex-direction: row;
   }
   #diseño .box-inside{
    padding: 1em;
    margin-left: 2em;
   }
   #diseño a{
    margin-right: 22em;
   }
   #normativas .box-head p{
    width: 100%;
    text-align: center;
   }
   #normativas li{
    text-align: center;
    list-style: none;
   }
   #normativas .box-body{
    display: flex;
    flex-direction: row;
   }
   #normativas .box-inside{
    width: 50%;
    margin-left: 2em;
    padding: 1em;
   }
   #importancia{
    display: flex;
    flex-direction: column;
   }
   #importancia .box-head p{
    width: 100%;
   }
   #importancia{
    text-align: center;
   }
   #importancia li{
    list-style: none;
   }
   #form h2{
    font-size: 4em;
   }
   #form .box-head p{
    width: 100%;
   }
   #form .box-body{
    display: flex;
    flex-direction: row;
   }
   #form .box-left, .box-right{
    width: 50%;
   }
   #form .box-left{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
   }
   #form .box-middle-email p{
    font-size: 1.6em;
    font-weight: 100;
   }
   #form input{
    height: 4em;
    width: 60em;
   }
}