*{
    box-sizing: border-box;
}
body{
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
}
h1{font-size: 2.5em;}
h2{font-size: 2.1em;}
h3{font-size: 1.3em;}
p{font-size: 1.1em;}
li{font-size: 1.1em;}
a{font-size: 1.2em;text-decoration: none;}
b{font-size: 1.2em;font-weight: bold;}
.button{
    padding: 10px 25px;
    background-color: rgb(180, 48, 65);
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, .9);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .9);
    color: white;
    font-weight: bold;
}
.container{
    max-width: 1400px;
    margin: auto;
}
header nav{
    display: none;
}
#hero{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    color: white;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ) 
    ,url(assets/rociadores/hero.jpg);
    height: 95vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
#hero .logo{
    width: 250px;
    height: 210px;
    background-image: url(assets/rociadores/logo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;margin-right: auto;
    margin-top: -200px;
}
#hero h1{
    margin-bottom: 50px;
}
#hero p{
    margin-top: 50px;
}
#rociadores{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: left;
    padding: 25px;
}
#rociadores h2{
    text-align: center;
    color: rgb(180, 48, 65);
}
#composicion{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: left;
    padding: 25px;
}
#composicion h2{
    text-align: center;
    color: rgb(180, 48, 65);
}
#composicion h3{
    text-align: center;
    text-decoration: underline;
    color: rgb(180, 48, 65);
}
#composicion p{
    text-align: left;
}
#funcionamiento{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items: left;
    padding: 25px;
}
#funcionamiento h2, h3{
    text-align: center;
}
#funcionamiento p{
    margin-bottom: 55px;
}
#funcionamiento .box-inside{
    background-color: rgb(5, 5, 63);
    padding:1px 25px;
    border-radius: 15px;
    margin-bottom: 25px;
    border: 1px solid rgba(0, 0, 0, .9);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .9);
    color: white;
}
#funcionamiento .box-button{
    text-align: center;
}
#funcionamiento h3{
    font-size: 1.8em;
}
#tipos{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items: left;
    padding: 25px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    )
    ,url(assets/rociadores/hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#tipos h2 p{
    text-align: center;
}
#tipos h3{
    font-size: 1.6em;
}
#tipos .box-inside{
    background-color: rgb(235, 204, 204);
    color: black;
    padding: 15px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .9);
    margin-bottom: 20px;
}
#tipos .box-icon{
    display: flex;
    flex-direction: row;
}
#tipos span{
    margin-top: 25px;
    margin-left: 5px;
}
#tipos .box-icon p{
    margin-left: 20px;
}
#clasificacion{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 25px;
}
#clasificacion h2{
    text-align: center;
    font-size: 2.1em;
}
#clasificacion .box-inside{
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 15px;
    margin-bottom: 35px;
    padding: 15px;
}
#clasificacion .box-icon{
    display: flex;
    flex-direction: row;
}
#clasificacion span{
    margin-top: 25px;
}
#clasificacion .box-icon p{
    margin-left: 20px;
}
#clasificacion .box-button{
    text-align: center;
}
#normativa{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 25px;
    background-color: rgb(8, 8, 78);
    color: white;
}
#normativa h2{
    text-align: center;
}
#normativa .box-icon{
    display: flex;
    flex-direction: row;
}
#normativa span{
    margin-left: -2px;
    margin-top: 25px;
}
#normativa .box-icon p{
    margin-left: 25px;
}
#instalacion{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 25px;
    background-color: gray;
    color: white;
}
#instalacion h2{
    text-align: center;
}
#instalacion .box-inside{
    border: 1px solid rgba(0, 0, 0, .9);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .9);
    border-radius: 15px;
    margin-bottom: 55px;
    padding: 15px;
    background-color: white;
    color: black;
}
#instalacion .box-icon{
    display: flex;
    flex-direction: row;
}
#instalacion span{
    margin-top: 25px;
    margin-left: -2px;
}
#instalacion .box-icon p{
    margin-left: 25px;
}
#instalacion .box-button{
    text-align: center;
}
#equipo{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 25px;
    background-color: rgb(10, 10, 80);
    color: white;
}
#beneficios{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: left;
    padding: 0px 25px;
    background-color: rgb(10, 10, 80);
    color: white;
}
#beneficios .box-inside{
    background-color: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, .9);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .9);
    border-radius: 15px;
    margin-bottom: 25px;
    padding: 25px;
}
#beneficios .box-icon{
    display: flex;
    flex-direction: row;
}
#beneficios span{
    margin-top: 25px;
}
#beneficios .box-icon p{
    margin-left: 25px;
}



#form{
    background-color: rgb(14, 14, 58);
    color: white;
}
#form .box-head{
    background-color: rgb(14, 14, 58);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 20px;
}
#form h2{
    position: relative;
    margin-top: 20px;
    font-size: 2.5em;
}
#form b{
    font-size: 1.2em;
    font-weight: bold;
}
.box-head p{
    font-weight: 100;
    font-style: italic;
    width: 300px;
}
#form .box-middle-one{
    display: flex;
    flex-direction: column;
    margin-top: -60px;
}
.box-middle-one p{
    margin-left: 60px;
    font-weight: 100;
    word-spacing: -1px;
    letter-spacing: -1px;
    line-height: .01;
}
#form .material-symbols-outlined{
    position: relative;
    top: 40px;
    left: 15px;
    font-size: 2em;
}
.box-middle-email p{
    margin-left: 60px;
    font-weight: bold;
    margin-bottom: 50px;
}
#form form{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: left;
    width: 95%;
    margin-left: auto;margin-right: auto;
}
.consulta h5{
    position: relative;
    top: 50px;
    font-size: 2em;
    color:rgb(180, 48, 65);
}
.consulta p{
    font-weight: bold;
}
.consulta{
    margin-top: -80px;
}
#form input{
    margin-bottom: 10px;
    padding: 10px 0px;
    border-radius: 5px;
}
#form .controls{
    height: 120px;
}
#form .button{
    background-color:rgb(180, 48, 65) ;
    border-radius: 5px;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 15px;
    border: 6px solid rgb(124, 17, 17)  ;
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255.9, alpha);
    color: white;
    margin-bottom: 30px;
    margin-left: auto;margin-right: auto;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
}
#form .button:hover{
    background-color: rgb(87, 46, 46);
    border: 2px solid rgba(255, 255, 255, .9);
    box-shadow: 5px 5px 5px 5px  rgb(180, 48, 65);
}
footer{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    color: white;
    background-color: rgb(14, 14, 58);
    padding: 20px;
}
footer .adress{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 30px;
}
.adress a{
    margin-top: 0px;
}
.adress p{
    margin-top: 0px;
    font-size: 0.9em;
    font-weight: 100;
    font-style: italic;
    width: 300px;
}
 footer .text{
    font-style: normal;
    font-size: 1.1em;
    width: 300px;
    margin-bottom: -1px;
    font-weight: bold;
    
}
footer .red{
    margin-left: 15px;
    margin-top: 20px;
}
footer a{
    font-size: 1.1em;
    text-decoration: none;
    color: rgb(180, 48, 65);
    font-weight: bold;
    margin: 0;
}
footer .caja{
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-top: 25px;
}
footer .cajas{
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    position: relative;
    margin-top: -20px;
}
footer img{
    width: 50px;
}
.caja:nth-child(2){
    margin-left: -18px;
}

@media (min-width:500px){
    h1{font-size: 5em;}
    h2{font-size: 4em;}
    h3{font-size: 3em;}
    h4{font-size: 2em;}
    p{font-size: 1.7em;}
    a{font-size: 1.9em;}
    li{font-size: 1.5em;}
    b{font-size: 1.3em;}
    .button{
        padding: 1em 2em;
    }
    body{
        font-weight: 400;
        cursor: pointer;
    }
    header{
        display: flex;
        flex-direction: column;
       }
       header nav{
        display: flex;
        position: absolute;
       }
       header a{
        text-decoration: none;
        color: #fff;
        margin-left: 2em;
        margin-top: 1em;
       }
       header a:hover{
        color: rgb(180, 48, 65);
       }
       #hero{
        height: 100vh;
       }
       #hero .container{
        margin-left: 0em;
       }
       #hero .logo{
        margin-left: 0em;
        position: relative;
        bottom: 15em;
        width: 30em;
       }
       #hero h1:hover{
        color: rgb(180, 48, 65);
       }
       #hero p{
        margin-top: 4em;
       }
       #composicion .box-body{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
       }
       #composicion .box-inside{
        margin-left: 2em;
       }
       #composicion .container{
        width: 100%;
       }
       #funcionamiento .box-body{
        display: flex;
        flex-direction: row;
       }
       #funcionamiento .box-inside{
        margin-left: 2em;
        padding: 1em;
        width: 33%;
       }
       #funcionamiento{
        height: 75vh;
       }
       #funcionamiento .box-button{
        margin-top: 05em;
       }
       #tipos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
       }
       #tipos p{
        width: 100%;
       }
       #tipos .box-body{
        display: flex;
        flex-direction: row;
       }
       #tipos .box-inside{
        margin-left: 2em;
        margin-bottom: 2em;
        padding: 1em;
       }
       #tipos h3{
        font-size: 3em;
       }
       #tipos b{
        font-size: 1.1em;
       }
       #clasificacion h2{
        font-size: 4em;
       }
       #clasificacion .box-head p{
        width: 100%;
       }
       #clasificacion b{
        font-size: 1.2em;
       }
       #clasificacion .box-body{
        display: flex;
        flex-direction: row;
       }
       #clasificacion .box-inside{
        width: 50%;
        margin-left: 2em;
       }
       #clasificacion{
        height: 85vh;
       }
       #clasificacion .box-button{
        margin-top: 05em;
       }
       #normativa li{
        list-style: none;
        font-size: 1.6em;
       }
       #normativa b{
        font-size: 1.1em;
       }
       #normativa h3{
        position: relative;
        top: 1em;
       }
       #instalacion p{
        width: 100%;
       }
       #instalacion .box-body{
        display: flex;
        flex-direction: row;
       }
       #instalacion .box-inside{
        width: 33%;
        margin-left: 2em;
       }
       #instalacion{
        height: 90vh;
       }
      #equipo{
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      #equipo .box-body{
        display: flex;
        flex-direction: row;
      }
      #equipo .box-inside{
        padding: 1em;
        margin-left: 2em;
        text-align: left;
      }
      #equipo b{
        font-size: 1em;
      }
      #beneficios p{
        width: 100%;
      }
      #beneficios .box-body{
        display: flex;
        flex-direction: row;
      }
      #beneficios .box-inside{
        margin-left: 2em;
        margin-bottom: 2em;
      }
      #beneficios .box-inside h3{
        font-size: 2.5em;
      }
      #form h2{
        font-size: 4em;
      }
      #form .box-head p{
        width: 100%;
      }
      #form .box-body{
        display: flex;
        flex-direction: row;
      }
      #form .box-left, .box-right{
        width: 40%;
        padding: 2em;
      }
      #form .box-left{
        margin-left: 20em;
      }
      #form .box-right{
        margin-right: 30em;
      }
      #form .box-middle-email p{
        width: 20em;
        font-weight: 200;
      }
      #form input{
        height: 4.5em;
        width: 60em;
        margin-bottom: 1.4em;
      }
      #form .control1{
        width: 40em;
      }
      #form .controls{
        height: 14em;
      }
      #form .button{
        margin-left: 0em;
      }
      footer .div-footer{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items:center;
      }
      footer a{
        font-size: 1.9em;
      }
      footer .adress p{
        font-size: 1.7em;
      }
      footer .cajas{
        display: flex;
        flex-direction: row;
      }


}