*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
h1{font-size: 2.5em;}
h2{font-size: 2em;}
h3{font-size: 1.8em;}
p{font-size: 1.1em;}
a{
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: black;
}
.container{
    max-width: 1400px;
    margin: auto;
    padding: 0px 25px;
}
header nav{
    display: none;
}
section{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
}
#hero{
    background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0.5),
        rgba(0,0,0,.5)
    ),url(assets/saltillo/hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 95vh;
}
#importancia1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    color: black;
}
#importancia1 p{
    text-align: left;
}
#importancia1 .box-img{
    background-image: url(assets/saltillo/hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 280px;
    border-radius: 0px 35px 0px 35px ;
    margin-bottom: 35px;
}
#factores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(
        0deg, rgba(255,0,0,.5),
        rgba(0,0,0,.5)
    )
    ,url(assets/saltillo/as.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 85vh;
}
#factores li{
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}
#factores span{
    font-weight: bold;
    font-size: 3.5em;
    color:white ;
}
#beneficios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}
#beneficios li{
    font-size: 1.3em;
    color: rgb(180, 48, 65);
    text-align: left;
    margin-bottom: 25px;
    list-style-type: circle;
}
#servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:  rgb(180, 48, 65);
    color: white;
}
#servicios span{
    font-weight: bold;
    font-size: 3em;
    margin-bottom: -55px;
    color:  rgb(180, 48, 65);
}
#servicios .principal{
    color: black;
    font-size: 2em;
}
#servicios .box-inside{
    background-color: white;
    color: black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px black;
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 25px;
}
#servicios .box-body{
    margin-bottom: 45px;
}
#servicios p{
    font-weight: 300;
    width: 270px;
    text-align: center;
}
#servicios b{
    font-size: 1.2em;
    font-style: oblique;
}
#servicios h2{
    font-size: 2.5em;
}
#componentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}
#componentes h2{
    color:  rgb(180, 48, 65);
    text-align: center;
}
#componentes .box-inside{
    border-left: 8px solid rgb(180, 48, 65);
    padding: 0px 15px;
    margin-bottom: 25px;
}
#componentes h3{
    color: rgb(9, 9, 59);
}
#obra{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ) 
    ,url(assets/saltillo/as.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#obra h2{
    color:  rgb(180, 48, 65);
    text-align: center;
}
#obra .box-inside{
    border-left: 8px solid rgb(180, 48, 65);
    padding: 0px 15px;
}
#importancia {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    background-color:  rgb(9, 9, 59);
    height: 50vh;
}
#certificacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 25px;
}
#certificacion .box-nfpa{
    background-image: url(assets/saltillo/nfpa-logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
}
#certificacion h3{
    color: rgb(180, 48, 65);
    text-align: center;
}
#certificacion p{
    font-weight: 300;
}
#certificacion .box-fmglobal{
    background-image: url(assets/saltillo/fm-globalnewlogo.png.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
}
#preguntas{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
}
#preguntas h2{
    color:  rgb(180, 48, 65);
    font-size: 2.1em;
    text-align: center;
    margin-bottom: 55px;
}
#preguntas h3{
    color:  rgb(180, 48, 65);
}
#preguntas .box-inside{
    border-left: 8px solid rgb(180, 48, 65);
    padding: 0px 15px;
    margin-bottom: 25px;
}
#preguntas p{
    font-weight: 300;
}
#contactanos{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    color: white;
    background-color:  rgb(9, 9, 59);
}
#contactanos h2{
    text-align: center;
}
#contactanos .box-icon{
    display: flex;
    flex-direction: row;
}
#contactanos span{
    margin-top: 25px;
    margin-left: .2px;
}
#contactanos p{
    margin-left: 25px;
    text-align: left;
}
footer{
    background-color: rgb(7, 7, 56);
    color: white;
    height: 65vh;
    display: flex;
    flex-direction: column;
}
footer .adress{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 30px;
   
}
.adress a{
    margin-top: 0px;
}
.adress p{
    margin-top: 0px;
    font-size: 1em;
    font-weight: 100;
    font-style: italic;
    width: 300px;
}
 footer .text{
    font-style: normal;
    font-size: 1.1em;
    width: 300px;
    margin-bottom: -1px;
    font-weight: bold;
    
}
footer .red{
    margin-left: 15px;
    margin-top: 20px;
}
footer a{
    font-size: 1.1em;
    text-decoration: none;
    color: rgb(180, 48, 65);
    font-weight: bold;
    margin: 0;
}
footer .caja{
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-top: 25px;
}
footer .cajas{
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    position: relative;
    margin-top: -20px;
}
footer img{
    width: 50px;
}
.caja:nth-child(2){
    margin-left: -18px;
}


@media (min-width:500px){
    body{
        cursor: pointer;
    }
    h1{font-size: 5em;}
    h2{font-size: 4em;}
    h3{font-size: 3em;}
    h4{font-size: 2em;}
    p{font-size: 1.8em;}
    li{font-size: 1.8em;}
    a{font-size: 2.2em;}
    .button{padding: 1em 2em;}
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em;
    }
    .box-body{
        display: flex;
        flex-direction: row;
    }
    .box-inside{
        margin-left: 2em;
        margin-bottom: 2em;
    }
    header nav{
        display: flex;
        position: absolute;
        right: 5em;
        top: 1em;
    }
    header a{
        color: #fff;
        margin-left: 4em;
    }
    header a:hover{
        color: rgb(180, 48, 65);
    }
    #hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #hero img{
        width: 15em;
        position: relative;
        bottom: 7em;
        right: 25em;
        padding: 0;
    }
    #hero h1:hover{
        color: rgb(180, 48, 65);
    }
    #importancia1 .box-left, .box-right{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #importancia1 .box-img{
        width: 100%;
        height: 30em;
    }
    #factores{
        height: 100vh;
    }
    #factores span{
        font-size: 5em;
    }
    #factores li{
        font-size: 1.8em;
        list-style: none;
    }
    #beneficios li{
        font-size: 1.8em;
        text-align: center;
        list-style: none;
    }
    #servicios h2{
        font-size: 4em;
    }
    #servicios .box-icon{
        display: flex;
        flex-direction: row;
    }
    #servicios .box-inside{
        width: 70em;
    }

}