*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
h1{font-size: 2.5em;}
h2{font-size: 2em;}
h3{font-size: 1.8em;}
p{font-size: 1.1em;}
a{
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: black;
}
.container{
    max-width: 1400px;
    margin: auto;
    padding: 0px 25px;
}
header nav{
    display: none;
}
section{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
}
#hero{
    background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0.5),
        rgba(0,0,0,.5)
    ),url(assets/saltillo/hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 95vh;
}