*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-weight: 300;
}
h1{font-size: 2.2em;}
h2{font-size: 2em; word-spacing: -5px;}
h3{font-size: 1.7em;}
h4{font-size: 1.2em;word-spacing: -5px;}
p{font-size: 1.1em;letter-spacing: 0px; word-spacing: 2px; line-height: -1px;}
a{text-decoration: none; color: white;}
li{font-size: 1.5em;}
b{font-size: 1.2em;}
.button{
    padding: 15px 35px;
    background-color:  rgb(180, 48, 65);
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    border: 1px solid rgba(0, 0, 0, .9);
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .9);
}
.container{
    max-width: 1400px;
    margin: auto;
}
section{
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
header nav{
    display: none;
}
#hero{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(assets/san-luis-potosi/hero.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    width: 100%;
    color: white;
}
#hero .logo{
    background-image: url(assets/san-luis-potosi/logo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    width: 250px;
    height: 220px;
    position: relative;
    top: -110px;
    margin-left: auto;margin-right: auto;
}
#hero h4{
    font-style: italic;
    margin-bottom: 25px;
}
#hero .button{
    position: relative;
    bottom: -25px;
}
#importancia p{
    text-align: left;
}
#importancia h2{
    color: rgb(4, 4, 56);
}
#importancia .img{
    background-image: url(assets/san-luis-potosi/hero.jpeg);
    width: 300px;
    height: 280px;
}
#beneficios{
    color: rgb(4, 4, 56);
}
#beneficios li{
    color: rgb(180, 48, 65);
    font-style: italic;
    font-weight: bold;
    list-style-type: circle;
    margin-bottom: 9px;
    text-align: left;
}

#servicios p{
    text-align: left;
}
#servicios li{
    text-align: left;
    margin-bottom: 15px;
    font-size: 1em;
    margin-left: 12px;
    list-style: circle;
}
#servicios .box-inside{
    border-left: 6px solid  rgb(180, 48, 65);
    margin-bottom:25px;
    padding: 0px 1px;
}
#servicios a{
    font-size: 1.5em;
    font-weight: bold;
    font-style:italic;
    color: black;
}
#servicios p{
    margin-left: 35px;
    font-size: 1em;
}
#sistemas{
    background-color:  rgb(180, 48, 65);
}
#sistemas .box-body{
    margin-top: 25px;
}
#sistemas span{
    font-size: 2.9em;
    color: rgb(180, 48, 65);
}
#sistemas .box-inside{
    border-radius: 15px;
    background-color: white;
    padding:15px;
    margin-bottom: 15px;
}
#sistemas p{
    font-size: 1em;
}
#sistemas li{
    font-size: 1.1em;
    text-align: left;
    list-style: -moz-linear-gradient(
        0deg,
        rgba(255,0,0,.5),
        rgba(255,0,0,.5)
    );
}
#sistemas h2{
    font-size: 1.5em;
}
#importancia1 p{
    font-size: 1em;
    font-weight: 300;
}
#importancia1 p{
    text-align: left;
}
#importancia1 a{
    color: rgb(10, 10, 88);
    font-size: 1.8em;
    font-weight: bold;
}
#importancia1 h2{
    color: rgb(10, 10, 88);
}
#importancia1 .box-inside{
    border-left: 5px solid rgb(180, 48, 65);
    padding: 0px 15px;
    margin-bottom: 25px;
    text-align: left;
}
#importancia1 .box-icon{
    display: flex;
    flex-direction: row;
}
#importancia1 span{
    margin-top: 35px;
    font-size: 2.5em;
    color: rgb(180, 48, 65);
    margin-left: -15px;
}
#importancia1 h3{
    font-size: 1.4em;
    color:  rgb(10, 10, 88);
    text-align: left;
    margin-left: 15px;
}
#importancia1 li{
    font-size: 1.1em;
    text-align: left;
    margin-left: 25px;
    margin-bottom: 10px;
    width: 250px;
}
#obra{
    background-image:linear-gradient(
    0deg,
    rgba(0,0,0,.5),
    rgba(0,0,0,.5)
    ) 
    ,url(assets/san-luis-potosi/obra.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#obra .box-inside{
    border-left: 8px solid rgb(180, 48, 65);
    text-align: left;
    padding: 0px 25px;
    margin-bottom: 25px;
}
#obra a{
    font-size: 1.4em;
    font-weight: bold;
}






#form{
    background-color: rgb(14, 14, 58);
    color: white;
}
#form .box-head{
    background-color: rgb(14, 14, 58);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 20px;
}
#form h2{
    position: relative;
    margin-top: 20px;
    font-size: 2.5em;
}
#form b{
    font-size: 1.2em;
    font-weight: bold;
}
.box-head p{
    font-weight: 100;
    font-style: italic;
    width: 300px;
}
#form .box-middle-one{
    display: flex;
    flex-direction: column;
    margin-top: -60px;
}
.box-middle-one p{
    margin-left: 60px;
    font-weight: 100;
    word-spacing: -1px;
    letter-spacing: -1px;
    line-height: .01;
}
#form .material-symbols-outlined{
    position: relative;
    top: 40px;
    left: 15px;
    font-size: 2em;
}
.box-middle-email p{
    margin-left: 60px;
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 0.9em;
}
#form form{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: left;
    width: 95%;
    margin-left: auto;margin-right: auto;
}
.consulta h5{
    position: relative;
    top: 50px;
    font-size: 2em;
    color:rgb(180, 48, 65);
}
.consulta p{
    font-weight: bold;
}
.consulta{
    margin-top: -80px;
}
#form input{
    margin-bottom: 10px;
    padding: 10px 0px;
    border-radius: 5px;
}
#form .controls{
    height: 120px;
}
#form .button{
    background-color:rgb(180, 48, 65) ;
    border-radius: 5px;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 15px;
    border: 6px solid rgb(124, 17, 17)  ;
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255.9, alpha);
    color: white;
    margin-bottom: 30px;
    margin-left: auto;margin-right: auto;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
}
#form .button:hover{
    background-color: rgb(87, 46, 46);
    border: 2px solid rgba(255, 255, 255, .9);
    box-shadow: 5px 5px 5px 5px  rgb(180, 48, 65);
}
footer{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    color: white;
    background-color: rgb(14, 14, 58);
    padding: 20px;
}
footer .adress{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 30px;
}
.adress a{
    margin-top: 0px;
}
.adress p{
    margin-top: 0px;
    font-size: 0.9em;
    font-weight: 100;
    font-style: italic;
    width: 300px;
}
 footer .text{
    font-style: normal;
    font-size: 1.1em;
    width: 300px;
    margin-bottom: -1px;
    font-weight: bold;
    
}
footer .red{
    margin-left: 15px;
    margin-top: 20px;
}
footer a{
    font-size: 1.1em;
    text-decoration: none;
    color: rgb(180, 48, 65);
    font-weight: bold;
    margin: 0;
}
footer .caja{
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-top: 25px;
}
footer .cajas{
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    position: relative;
    margin-top: -20px;
}
footer img{
    width: 50px;
}
.caja:nth-child(2){
    margin-left: -18px;
}