*{
     box-sizing: border-box;
}
body{
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.container{
    max-width: 1400px;
    margin: auto;
}
.img{
    background-image: url(assets/uno/logo.webp);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 230px;
    height: 90px;
    margin-right: auto;margin-left: auto;
    margin-bottom: 90px;
}
nav{
    display: none;
}
#hero{
    color: white;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.6),
        rgba(0,0,0,.6)
    ) 
    ,url(assets/supresion/hero.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    cursor: pointer;
}
#hero h1{
    font-weight: bold;
    font-size: 2.0em;
    width: 200px;
    margin-left: 25px;
}
#hero h1:hover{
    color: rgb(180, 48, 65);
}
#hero p{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 0.9em;
    margin-left: 25px;
    width: 90%;
    margin-bottom: 50px;
}
#hero b{
    font-weight: bold;
    font-size: 1.3em;
}
#hero .button{
    background-color:rgb(180, 48, 65) ;
    border-radius: 5px;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    width: 200px;
    padding: 15px;
    border: 2px solid rgba(0, 0, 0, .9);
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255.9, alpha);
    margin-bottom: 30px;
}
#hero .button:hover{
    background-color: rgb(87, 46, 46);
    border: 2px solid rgba(255, 255, 255, .9);
    box-shadow: 5px 5px 5px 5px  rgb(180, 48, 65);
}
#hero a{
    text-decoration: none;
    color: white;
    padding-left: 6px;
    display: flex;
    text-align: center;;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
#sistema-de-supresion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#sistema-de-supresion h2{
    font-size: 1.8em;
    width: 350px;
    margin-left: auto;margin-right: auto;
    font-weight: bold;
    margin-bottom: 20px;
}
#sistema-de-supresion p{
    font-size: 1.1em;
    width: 300px;
    margin-left: auto;margin-right: auto;
    font-weight: 400;
    margin-bottom: 50px;
}
#ventajas{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: left;
    height: 130vh;
}
#ventajas h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.7em;
    width: 250px;
    margin-left: auto;margin-right: auto;
}
#ventajas .material-symbols-outlined{
    color:  rgb(180, 48, 65);
    font-size: 2.9em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-left: 35px;
}
#ventajas p{
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 35px;
}
#formato{
    background-color:  rgba(1, 1, 30, .9);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: left;
}
.head h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 1.9em;
    width: 250px;
    margin-left: auto;margin-right: auto;
}
.head p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;margin-right: auto;
    margin-bottom: 50px;
    font-size: 1.1em;
    width: 310px;
    font-weight: bold;
}
#formato span{
    color:  rgb(180, 48, 65);
    font-size: 2.9em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-left: 35px;
}
#formato h3{
    color: rgb(180, 48, 65);
    font-size: 1.5em;
    margin-left: 35px;
}
#formato p{
    margin-left: 35px;
    font-weight: 100;
}
#componentes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#componentes .button{
    background-color:white ;
    border-radius: 5px;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 15px;
    border: 6px solid rgb(180, 48, 65) ;
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255.9, alpha);
    color: black;
    margin-bottom: 30px;
    margin-left: auto;margin-right: auto;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
}
#componentes .button:hover{
    background-color: rgb(87, 46, 46);
    border: 2px solid rgba(255, 255, 255, .9);
    box-shadow: 5px 5px 5px 5px  rgb(180, 48, 65);
}
#componentes .compo{

    background-color:  rgb(180, 48, 65);
    color: white;
    margin-top: 20px;
}
.compo h3{
    font-size: 2em;
    margin-left: auto;margin-right: auto;
    width: 320px;
    margin-bottom: 25px;
}
#componentes .box-inside{
    width: 90%;
    border: 1px solid rgba(0, 0, 0, .9);
    margin-left: auto;margin-right: auto;
    border-radius: 10px;
    box-shadow: 5px -5px 5px rgba(0, 0, 0, .9);
}
#componentes .box-inside-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: lef;
    text-align: left;
    padding: 0px 15px;
}
#componentes h4{
    font-size: 1.3em;
    width: 100%;
}
.box-inside-head h4{
    font-weight: bold;
    margin-bottom: -15px;
}
#componentes p{
    font-weight: 300;
}
#componentes .det{
    display: flex;
    flex-direction: row;
}
.det span{
    position: relative;
    height: 30px;
    top: 12px;
    left: -10px;
    color:  rgb(180, 48, 65);
}


#tipos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#tipos .button{
    background-color:white ;
    border-radius: 5px;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 15px;
    border: 6px solid rgb(180, 48, 65) ;
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255.9, alpha);
    color: black;
    margin-bottom: 30px;
    margin-left: auto;margin-right: auto;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
}
#tipos .button:hover{
    background-color: rgb(87, 46, 46);
    border: 2px solid rgba(255, 255, 255, .9);
    box-shadow: 5px 5px 5px 5px  rgb(180, 48, 65);
}
#tipos .types{
    background-color:  rgba(1, 1, 30, .9);
    color: white;
    margin-top: 20px;
}
.types h3{
    font-size: 2em;
    margin-left: auto;margin-right: auto;
    width: 320px;
    margin-bottom: 25px;
}

#tipos .box-inside{
    width: 90%;
    border: 1px solid rgba(0, 0, 0, .9);
    margin-left: auto;margin-right: auto;
    border-radius: 10px;
    box-shadow: 5px -5px 5px rgba(0, 0, 0, .9);
}
#tipos .box-inside-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: lef;
    text-align: left;
    padding: 0px 15px;
}
#tipos h4{
    font-size: 2em;
    width: 100%;
}
.box-inside-head h4{
    font-weight: bold;
    margin-bottom: -15px;
}
#tipos p{
    font-weight: 300;
}
#tipos .det{
    display: flex;
    flex-direction: row;
}
.det span{
    position: relative;
    height: 30px;
    top: 12px;
    left: -10px;
    color:  rgb(180, 48, 65);
}
.box-inside{
    background-color: white;
    color: black;
}
#tipos h5{
    font-size: 1.5em;
    margin: 0;
}
#aplicaciones{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    margin-top: 25px;
}
#aplicaciones .box-head{
    background-color:  rgb(180, 48, 65);
    padding: 10px;
    color: white;
    border-radius: 25px;
    border: 2px solid rgba(0, 0, 0, .9);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    margin-bottom: 25px;
}
#aplicaciones .box-head p{
    font-weight: bold;
    padding: 10px;
}
#aplicaciones h3{
    font-size: 1.7em;
    width: 200px;
    margin-left: auto;margin-right: auto;
}
#aplicaciones p{
    font-weight: 200;
    display: flex;
    flex-direction: column;
    text-align: left;
}
#aplicaciones .box-inside{
    border: 1px solid rgb(180, 48, 65);
    border-radius: 25px;
    box-shadow: 3px 3px 3px solid   rgba(0, 0, 0, .6);
    padding: 10px;
}
.det h4{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    font-size: 1.6em;
    margin: 0;
}
#aplicaciones .det{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
}
.det span{
    margin-left: 10px;
    margin-bottom: 15px;
}
.det h4{
    color: rgb(180, 48, 65);
}
#aplicaciones .button{
    background-color: rgb(180, 48, 65) ;
    border-radius: 5px;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 15px;
    border: 6px solid rgb(180, 48, 65)  ;
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255.9, alpha);
    color: white;
    margin-bottom: 30px;
    margin-left: auto;margin-right: auto;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
}
#aplicaciones .button:hover{
    background-color: rgb(87, 46, 46);
    border: 2px solid rgba(255, 255, 255, .9);
    box-shadow: 5px 5px 5px 5px  rgb(180, 48, 65);
}
#sistemas{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color:rgb(180, 48, 65);
    color: white;
}
#sistemas h3{
    font-size:2.0em;
}
#sistemas p{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    font-weight: 200;
}
#sistemas .box-inside{
    border-radius: 25px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 5px -5px 5px rgba(0, 0, 0, .9);
}
#sistemas .det{
    display: flex;
    flex-direction: row;
    align-items: left;
    text-align: left;
    justify-content: left;
}
.box-inside-head h4{
    margin-bottom: 25px;
    font-size: 1.6em;
    color: rgb(180, 48, 65);
} 
#sistemas .deto{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: left;
}
.deto h4{
    margin-bottom: 25px;
    font-size: 1.6em;
    color: rgb(180, 48, 65);
}
#hero2{
    color: white;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.6),
        rgba(0,0,0,.6)
    ) 
    ,url(assets/supresion/hero.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
}
#hero2 h2{
    margin: 0;
    font-size: 2.5em;
}
#hero2 h2:hover{
    color: rgb(180, 48, 65);
}
#hero2 p{
    display: none;
}
#hero2 .box-left{
position: relative;
top: 100px;
width: 300px;
}
#hero2 .box-right{
    position: relative;
    top: 100px;
    width: 300px;
}
#form{
    background-color: rgb(14, 14, 58);
    color: white;
}
#form .box-head{
    background-color: rgb(14, 14, 58);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 20px;
}
#form h2{
    position: relative;
    margin-top: 20px;
    font-size: 2.5em;
}
#form .box-middle-one{
    display: flex;
    flex-direction: column;
}
.box-middle-one p{
    margin-left: 60px;
    font-weight: bold;
    word-spacing: -1px;
    letter-spacing: -1px;
    line-height: .01;
}
#form .material-symbols-outlined{
    position: relative;
    top: 40px;
    left: 15px;
    font-size: 2em;
}
.box-middle-email p{
    margin-left: 60px;
    font-weight: bold;
    margin-bottom: 50px;
}
#form form{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: left;
    width: 85vw;
    margin-left: auto;margin-right: auto;
}
.consulta h5{
    position: relative;
    top: 50px;
    font-size: 2em;
    color:rgb(180, 48, 65);
}
.consulta p{
    font-weight: bold;
}
.consulta{
    margin-top: -80px;
}
#form input{
    margin-bottom: 10px;
    padding: 10px 0px;
    border-radius: 5px;
}
#form .button{
    background-color:rgb(180, 48, 65) ;
    border-radius: 5px;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 15px;
    border: 6px solid rgb(124, 17, 17)  ;
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255.9, alpha);
    color: white;
    margin-bottom: 30px;
    margin-left: auto;margin-right: auto;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
}
#form .button:hover{
    background-color: rgb(87, 46, 46);
    border: 2px solid rgba(255, 255, 255, .9);
    box-shadow: 5px 5px 5px 5px  rgb(180, 48, 65);
}
footer{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    color: white;
    background-color: rgba(1, 1, 30, .9);
}
footer .adress{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 30px;
}
.adress a{
    margin-top: 0px;
}
.adress p{
    margin-top: 0px;
    font-size: 1.2em;
    font-weight: bold;
}
footer .red{
    margin-left: 15px;
    margin-top: 20px;
}
footer a{
    font-size: 1.5em;
    text-decoration: none;
    color: rgb(180, 48, 65);
    font-weight: bold;
    margin: 0;
}
footer .caja{
    background-color: rgb(180, 48, 65);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-top: 25px;
}
footer .cajas{
    display: flex;
    flex-direction: row;
    margin-left: 35px;
}
footer img{
    width: 50px;
}







@media (min-width:600px){
    header nav{
        display: flex;
        position: absolute;
        right: 100px;
    }
    header a{
        color: #fff;
        text-decoration: none;
        padding-left: 60px;
        padding-top: 25px;
        font-size: 1.5em;
        font-weight: bold;
    }
    header a:hover{
        color: rgb(180, 48, 65);
    }
    #hero .img{
        text-align: left;
        margin-left:400px;
        width: 350px;
        height: 120px;
    }
    #hero{
        height: 100vh;
    }
    #hero .container{
        position: relative;
        top: 200px;
    }
    #hero h1{
        font-size: 4em;
        width: 800px;
        margin-left: -100px;
    }
    #hero p{
        font-size: 1.3em;
        width: 800px;
        margin-left: -100px;
        font-style: normal;
    }
    #hero .button{
        margin-left: -100px;
    }
    #sistema-de-supresion h2{
        font-size: 5em;
        width: 1500px;
    }
    #sistema-de-supresion p{
        font-size: 1.7em;
        width: 1500px;
    }
    #ventajas{
        height: 50vh;
        margin-top: -100px;
    }
    #ventajas h2{
        font-size: 4em;
        width: 1500px;
    }
    #ventajas .supresion{
        display: flex;
        flex-direction: row;
    }
    #ventajas .super-box{
        position: relative;
        top: -55px;
        display: flex;
        flex-direction: row;
    }
    #ventajas .super-box p{
        font-size: 1.5em;
    }
    #ventajas span{
        margin-top: 25px;
        font-size: 2.8em;
    }
    #formato h2{
        font-size: 4em;
        width: 1500px;
    }
    #formato .head p{
        font-size: 1.7em;
        width: 1500px;
    }
    #formato .format{
        display: flex;
        flex-direction: row;
    }
    #formato .fun{
        position: relative;
        top: -25px;
    }
    #formato .fun p{
        font-size: 1.5em;
        text-align: left;
    }
    #componentes .button{
        width: 800px;
        border: 1px solid #000;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 5px ;
    }
    #componentes a{
        width: 800px;
        font-size: 1.5em;
    }
    #componentes br{
        display: none;
    }
    #componentes h3{
        font-size: 4em;
        width: 1500px;
    }
    #componentes{
        background-color: rgb(180, 48, 65);
    }
    #componentes .compo p{
        font-size: 1.6em;
    }
    #componentes .box-body{
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
    }
    #componentes .box-inside{
        margin-left: 25px;
    }
    #componentes h4{
        font-size: 1.8em;
    }
    #componentes .box-inside p{
        font-size: 1.4em;
    }
    b{
        font-size: 1.3em;
        font-weight: bold;
    }
    #componentes span{
        margin-top: 20px;
    }
    #tipos h2{
        font-size: 4em;
    }
    #tipos h4{
        text-align: center;
    }
    #tipos span{
        margin-top: 25px;
    }
    #tipos{
        background-color: rgb(14, 14, 58);
        height: 180vh;
    }
    #tipos .button{
        width: 800px;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 5px ;
    }
    #tipos a{
        width: 800px;
        font-size: 1.5em;
    }
    #tipos br{
        display: none;
    }
    #tipos p{
        font-size: 1.4em;
        text-align: left;
    }
    #tipos .box-body{
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
    }
    #tipos .box-inside{
        margin-left: 25px;
    }
    #aplicaciones .box-head h3{
        width: 1000px;
        font-size: 1.9em;
        margin-top: -5px;
    }
    #aplicaciones .box-head p{
        text-align: center;
        margin-top: -25px;
        font-size: 1.3em;
    }
    #aplicaciones .box-inside{
        display: flex;
        flex-direction: row;
    }
    #aplicaciones .det{
        padding: 15px;
        display: flex;
        flex-direction: row;
    }
    #aplicaciones .det p{
        font-size: 1.7em;
    }
    #aplicaciones .det h4{
        font-size: 2em;
    }
    #aplicaciones .button{
        width: 1000px;
        border: 1px solid #010101;
        box-shadow: 5px 5px 5px 5px #010203;
    }
    #aplicaciones a{
        font-size: 1.3em;
    }
    #sistemas{
        height: 75vh;
    }
    #sistemas h3{
        font-size: 3.5em;
    }
    #sistemas .system p{
        font-size: 1.3em;
        text-align: center;
        margin-top: -35px;
    }
    #sistemas .box-body{
        display: flex;
        flex-direction: row;
    }
    #sistemas .box-body p{
        font-size: 1.1em;
        width: 600px;
        text-align: justify;
        margin-top: 5px;
    }
    #sistemas b{
        font-size: 1.2em;
    }
    #sistemas h4{
        text-align: center;
        font-size: 2em;
    }
    #sistemas .box-inside{
        padding: 15px;
        margin-left: 25px;
    }
    #hero2 p{
        display: flex;
        text-align: justify;
    }
    #hero h2{
        font-size: 4em;
    }
    #hero .box-general{
        display: flex;
        flex-direction: row;
    }
}



