*{
    box-sizing: border-box;
}
body{
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.container{
    max-width: 1400px;
    margin: auto;
}
.img{
    background-image: url(assets/uno/logo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 100px;
    margin-right: auto;margin-left: auto;
}
nav{
    display: none;
}
#hero{
    color: white;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ) 
    ,url(assets/uno/hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    cursor: pointer;
    padding: 25px;
}
#hero h1{
    font-size: 2.5em;
}
#hero h1:hover{
    color: rgb(182, 55, 55);
}
#hero p{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.3em;
    width: 250px;
    margin-bottom: 50px;
}
#hero .button{
    background-color:rgb(182, 55, 55);
    border-radius: 15px;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;margin-right: auto;
    width: 250px;
    padding: 15px;
    border: 2px solid rgba(0, 0, 0, .9);
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255.9, alpha);
}
#hero .button:hover{
    background-color: rgb(87, 46, 46);
    border: 2px solid rgba(255, 255, 255, .9);
    box-shadow: 5px 5px 5px 5px  rgb(182, 55, 55);
}
#hero a{
    text-decoration: none;
    color: white;
    padding-left: 6px;
    display: flex;
    text-align: center;;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
#nuestro{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: left;
    color: white;
    background-color: rgb(23, 23, 59);
    cursor: pointer;
    padding: 25px;
}
#nuestro h2{
    font-size: 2em;
    color: rgb(182, 55, 55);
}
#nuestro h3{
    font-size: 2em;
}


#numeros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.numeros1{
    background-color: rgb(126, 26, 26);
    height: 25vh;
    width: 85vw;
}
.numeros2{
    background-color: white;
    color: black;
    height: 25vh;
    width: 85vw;
}
.numeros3{
    background-color: rgb(23, 23, 59);
    height: 25vh;
    width: 85vw;
    margin-bottom:-26px;
}
.numeros4{
    background-color: rgb(87, 46, 46);
    height: 25vh;
    width: 85vw;
}
.numbers p{
    font-size: 1.6em;
    font-weight: bold;
}
.numbers h4{
    font-size: 4em;
    font-weight: bold;
}
.numeros1 h4{
    position: relative;
    top: 50px;
}
.numeros2 h4{
    position: relative;
    top: -35px;
}
.numeros2 p{
    font-size: 1.6em;
    position: relative;
}
.two{
    top: 30px;
}
.one{
    bottom: 100px;
}
.numeros3 h4{
    position: relative;
    top: -50px;
}
.three{
    position: relative;
    top: 25px;
}
.four{
    position: relative;
    bottom: 120px;
}
.numeros4 h4{
    position: relative;
    top: -50px;
}
.five{
    position: relative;
    top: 25px;
}
.six{
    position: relative;
    bottom: 130px;
}
#imgs{
    height: 70vh;
    display: flex;
    flex-direction: column;
}
#imgs h5{
    font-size: 1.3em;
    color: rgb(87, 46, 46);
    margin-left: 17px;
}
#imgs p{
    position: relative;
    top:-10px;
    text-align: left;
    margin-left: 30px;
    font-size: 1.3em;
}
.set:first-child{
    width: 85vw;
    height: 23vh;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}
.set:nth-child(2){
    background-image: url(assets/uno/3.webp);
    background-repeat: no-repeat;
    width: 85vw;
    height: 18vh;
    margin-left: 20px;
    margin-bottom: 25px;
}
.set:nth-child(3){
    background-image: url(assets/uno/4.webp);
    background-repeat: no-repeat;
    width: 85vw;
    height: 18vh;
    margin-left: 25px;
}
#imgs .img-set{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
}
#servicio{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
#servicio a{
    position: relative;
    top: 280px;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    font-weight: bold;
}
#servicio a:hover{
    color:  rgb(87, 46, 46);
}
#servicio h2{
    position: relative;
    top: -50px;
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
    text-align: top;
    color: rgb(87, 46, 46);
}
.servi{
    height: 30vh;
    width: 55vw;
    border-radius: 50%;
    margin-left: auto;margin-right: auto;
    margin-bottom: 70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.servi:first-child{
    background-image: url(assets/dos/1.jpg);
}
.servi:nth-child(2){
    background-image: url(assets/dos/2.jpg);
}
.servi:nth-child(3){
    background-image: url(assets/dos/3.jpg);
}
.servi:nth-child(4){
    background-image: url(assets/dos/4.jpeg);
}
.servi:nth-child(5){
    background-image: url(assets/dos/5.jpg);
}
.servi:nth-child(6){
    background-image: url(assets/dos/6.jpg);
}
.servi:nth-child(7){
    background-image: url(assets/dos/7.jpg);
}
.servi:nth-child(8){
    background-image: url(assets/dos/8.jpg);
}
.servi:nth-child(9){
    background-image: url(assets/dos/9.jpg);
}
#proye{
    height: 100vh;
}
.proyect{
    width: 95%;
    height: 85vh;
    margin-left: auto;margin-right: auto;
}
.proyect:first-child{
    background-image: url(assets/dos/uno.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.proyect:first-child:hover{
    background-image: url(assets/dos/dos.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
#proye h2{
    height: 20vh;
    position: relative;
    top: -70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.7em;
}
#proye h2:hover{
    color: rgb(182, 55, 55);
}
#proye .button{
    padding: 20px 20px;
    background-color:  rgb(182, 55, 55);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 350px;
}
#proye .button:hover{
    background-color: black;
}
#proye .but{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: -100px;
}
#proye a{
    color: white;
    text-decoration: none;
    font-size: 1.4em;
}

#wave {
    position: relative;
    top: 200px;
    width: 100%;
    height: 600px;
    background: #614e96;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(234, 45%, 45%, 0.664), hsla(317, 45%, 52%, 0.664)), url(../css/assets/dos/1.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(234, 45%, 45%, 0.664)), url(../css/assets/dos/1.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
#wave .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#material{
    position: relative;
    top: 130px;
}
#material .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 150px;
}
#material h2{
    color:  rgb(182, 55, 55);
    font-size: 1.8em;
}
#material b{
    color: black;
    font-weight: bold;
}
#material h3{
    position: relative;
    top: -10px;
    font-size: 1.6em;
    font-weight: bold;
}
#material .material-symbols-outlined{
    font-size: 3em;
}
#material h4{
    position: relative;
    top: -25px;
    font-size: 2em;
}
#material p{
    color: white;
    position: relative;
    top: -60px;
    font-size: 1.1em;
}
.cont{
    background-color: rgba(1, 1, 30, .9);
    border-radius: 10px;
    color:  rgb(182, 55, 55);
    width: 75vw;
    padding: 15px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .6);
}
#final{
    display: flex;
    flex-direction: column;
    text-align: top;
    align-items: left;
    justify-content: left;
    padding-left: 50px;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.6),
        rgba(0,0,0,.6)
    ) 
    ,url(assets/uno/hero.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
}
#final .box-up{
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
    margin-left: -50px;
    border-bottom: 2px solid red;
    margin-bottom: 40px;
    width: 100%;

}
.box-up span{
    position: relative;
    top: 100px;
    left: 20px;

}
.box-up h5{
    font-size: 1.5em;
    margin-left: 100px;
    width: 200px;
}
.box-up p{
    margin-top: -25px;
    margin-left: 100px;
    width: 200px;
    font-weight: bold;
    font-size: 1.1em;
}
#final .material-symbols-outlined{
    color: rgb(182, 55, 55);
    font-size: 3.2em;
}

.contain h5{
    font-size: 1.2em;
}
.contain p{
    font-size: .9em;
    width: 300px;
    font-weight: bold;
}
#final form{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: left;
    width: 65vw;
    margin-left: auto;margin-right: auto;
}
.consulta h5{
    position: relative;
    top: 50px;
    font-size: 2em;
    color:rgb(182, 55, 55);
}
.consulta p{
    font-weight: bold;
}
.consulta{
    margin-top: -80px;
}
#final input{
    margin-bottom: 10px;
    padding: 10px 0px;
    border-radius: 5px;
}
#final .button{
    background-color:rgb(182, 55, 55) ;
    padding: 10px 20px;
    width: 35vw;
    border-radius: 12px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .4);
}
#final a{
    color: white;
    text-decoration: none;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    color: white;
    background-color: rgba(1, 1, 30, .9);
}
footer .adress{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 30px;
}
.adress a{
    margin-top: 0px;
}
.adress p{
    margin-top: 0px;
    font-size: 1.2em;
}
footer .red{
    margin-left: 15px;
    margin-top: 20px;
}
footer a{
    font-size: 1.5em;
    text-decoration: none;
    color: rgb(182, 55, 55);
    font-weight: bold;
    margin: 0;
}
footer .caja{
    background-color: rgb(182, 55, 55);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-top: 25px;
}
footer .cajas{
    display: flex;
    flex-direction: row;
    margin-left: 35px;
}
footer img{
    width: 50px;
}