*{
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
.container{
    max-width: 1400px;
    margin: auto;
}
.img{
    background-image: url(assets/uno/logo.webp);
    background-position: top top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 230px;
    height: 80px;
    margin-right: auto;margin-left: auto;
    margin-bottom: 60px;
}
nav{
    display: none;
}
#hero{
    color: white;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ) 
    ,url(assets/uno/hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    cursor: pointer;
}
#hero h1{
    font-weight: bold;
    font-size: 2.5em;
    width: 200px;
    margin-left: 25px;
}
#hero h1:hover{
    color: red;
}
#hero p{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.3em;
    margin-left: 25px;
    width: 250px;
    margin-bottom: 50px;
}
#hero .button{
    padding: 6px 10px;
    background-color:rgb(124, 17, 17) ;
    border-radius: 5px;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 180px;
    margin-left: 25px;
}
#hero .button:hover{
    background-color: rgb(87, 46, 46);
}
#hero a{
    text-decoration: none;
    color: white;
    padding-left: 6px;
    display: flex;
    text-align: center;;
    align-items: center;
    justify-content: center;
}
#nuestro{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: center;
    color: white;
    background-color: rgb(23, 23, 59);
    height: 100vh;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
#nuestro h2{
    color: rgb(134, 15, 15);
    font-weight: bold;
    font-size: 2.5em;
    margin-left: 25px;
}
#nuestro h2:hover{
    color: red;
}
#nuestro h3{
    font-weight: bold;
    font-size: 2em;
    text-align: left;
    margin-left: 25px;
}
#nuestro p{
    font-size: 1.2em;
    margin-left: 25px;
}
#nuestro span{
    color: red;
}
#nuestro .img-container1{
    position: relative;
    bottom: 75px;
}
#nuestro .button{
    position: relative;
    bottom: 75px;
    padding: 6px 5px;
    background-color:rgb(124, 17, 17) ;
    border-radius: 5px;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 110px;
    margin-left: 25px;
    color: white;
}
#nuestro .button:hover{
    background-color:  rgb(87, 46, 46)
}
#nuestro a{
    text-decoration: none;
    font-size: 1.2em;
}
#numeros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.numeros1{
    background-color: rgb(126, 26, 26);
    height: 25vh;
    width: 85vw;
}
.numeros2{
    background-color: white;
    color: black;
    height: 25vh;
    width: 85vw;
}
.numeros3{
    background-color: rgb(23, 23, 59);
    height: 25vh;
    width: 85vw;
    margin-bottom:-26px;
}
.numeros4{
    background-color: rgb(87, 46, 46);
    height: 25vh;
    width: 85vw;
}
.numbers p{
    font-size: 1.6em;
    font-weight: bold;
}
.numbers h4{
    font-size: 4em;
    font-weight: bold;
}
.numeros1 h4{
    position: relative;
    top: 50px;
}
.numeros2 h4{
    position: relative;
    top: -35px;
}
.numeros2 p{
    font-size: 1.6em;
    position: relative;
}
.two{
    top: 30px;
}
.one{
    bottom: 100px;
}
.numeros3 h4{
    position: relative;
    top: -50px;
}
.three{
    position: relative;
    top: 25px;
}
.four{
    position: relative;
    bottom: 120px;
}
.numeros4 h4{
    position: relative;
    top: -50px;
}
.five{
    position: relative;
    top: 25px;
}
.six{
    position: relative;
    bottom: 130px;
}
#imgs{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#imgs h5{
    font-size: 1.3em;
    color: rgb(87, 46, 46);
    margin-left: 17px;
}
#imgs p{
    position: relative;
    top:-20px;
    text-align: left;
    margin-left: 30px;
    font-size: 1.3em;
}
.set:first-child{
    width: 85vw;
    height: 23vh;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
    text-align: center;
    margin-bottom: 25px;
}
.set:nth-child(2){
    background-image: url(assets/uno/3.webp);
    background-repeat: no-repeat;
    width: 85vw;
    height: 18vh;
    margin-left: 20px;
    margin-bottom: 25px;
}
.set:nth-child(3){
    background-image: url(assets/uno/4.webp);
    background-repeat: no-repeat;
    width: 85vw;
    height: 18vh;
    margin-left: 25px;
}
#imgs .img-set{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
}
#servicio{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
#servicio a{
    position: relative;
    top: 280px;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    font-weight: bold;
}
#servicio a:hover{
    color:  rgb(87, 46, 46);
}
#servicio h2{
    position: relative;
    top: -50px;
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
    text-align: top;
    color: rgb(87, 46, 46);
}
.servi{
    height: 30vh;
    width: 55vw;
    border-radius: 50%;
    margin-left: auto;margin-right: auto;
    margin-bottom: 70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.servi:first-child{
    background-image: url(assets/dos/1.jpg);
}
.servi:nth-child(2){
    background-image: url(assets/dos/2.jpg);
}
.servi:nth-child(3){
    background-image: url(assets/dos/3.jpg);
}
.servi:nth-child(4){
    background-image: url(assets/dos/4.jpeg);
}
.servi:nth-child(5){
    background-image: url(assets/dos/5.jpg);
}
.servi:nth-child(6){
    background-image: url(assets/dos/6.jpg);
}
.servi:nth-child(7){
    background-image: url(assets/dos/7.jpg);
}
.servi:nth-child(8){
    background-image: url(assets/dos/8.jpg);
}
.servi:nth-child(9){
    background-image: url(assets/dos/9.jpg);
}
#proye{
    height: 100vh;
}
.proyect{
    width: 95%;
    height: 85vh;
    margin-left: auto;margin-right: auto;
}
.proyect:first-child{
    background-image: url(assets/dos/uno.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
#proye h2{
    position: relative;
    top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2em;
}
#proye .button{
    padding: 10px 20px;
    background-color:  rgb(87, 46, 46);
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 200px;
}
#proye .but{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: -100px;
}
#proye a{
    color: white;
}