*{
    box-sizing: border-box;
}
body{
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
header nav{
    display: none;  
}

.container{
    max-width: 1400px;
    margin: auto;
}
.button{
    padding: 15px 25px;
    background-color: rgb(180, 48, 65);
    color: white;
    border-radius: 15px;
    border: 1px solid rgba(1, 1, 1, 0.9);
    box-shadow: 5px 5px 5px rgba(1, 1, 1, .9);
}
.button:hover{
    background-color: rgb(75, 12, 12);
}
a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
h1{font-size: 2.5em;}
h2{font-size: 2.1em;}
h3{font-size: 1.6em;}
h4{font-size: 1.4em;}
p{font-size: 1.1em;}
b{font-size: 1.2em;}
li{font-size: 1.1em;}
.logo{
    background-image: url(assets/tuberias/logo.webp);
    width: 230px;
    height: 120px;
    margin-left: auto;margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
}
#hero{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 25px;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,0.5)
    )
    ,url(assets/tuberias/hero.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#hero h1{
    margin-bottom: 35px;
}
#hero p{
    margin-top: 35px;
    margin-bottom: 25px;
}
#tuberia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
}
#tuberia h3{
    color:  rgb(180, 48, 65);
}
#tuberia p{
    width: 300px;
}
#tipos{
    display:flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: left;
    padding: 25px;
}
#tipos h3{
    color: rgb(180, 48, 65);
    margin-bottom: 10px;
}
#tipos li{
    margin-left: -20px;
}
#normas{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 25px;
    margin-bottom: 50px;
}
#normas p{
    display: flex;
    text-align: left;
}
#normas .box-inside{
    background-color:  rgb(180, 48, 65);
    color: white;
    padding: 18px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, .9);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .9);
}
#normas .button{
    position: relative;
    top: 20px;
}
#normativas{
    display: flex;
    flex-direction: column;
    padding: 25px;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    )
    ,url(assets/tuberias/hero.webp);
    height: 120vh;
}
#normativas h2{
    color: rgb(6, 6, 65);
}
#normativas li{
    margin-bottom: 15px;
    list-style: circle;
    font-size: 1.4em;
}
#normativas .button{
    position: relative;
    top: 20px;
}
#accesorios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 25px;
    color: white;
    background-color: rgb(180, 48, 65);
}
#accesorios h2{
    text-align: center;
}
#accesorios h3{
    text-align: center;
}
#accesorios .box-inside{
    background-color: white;
    color: black;
    padding: 0px 15px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .9);
    margin-bottom: 25px;
}
#accesorios .box-icon{
    display: flex;
    flex-direction: row;
}
#accesorios span{
    margin-left: 5px;
    margin-top: 20px;
    font-size: 2em;
}
#accesorios .box-icon p{
    margin-left: 20px;
}
#instalacion{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 25px;
    background-color: rgb(10, 10, 51);
    color: white;
}
#instalacion h2{
    text-align: center; 
    margin-bottom: 55px;
}
#instalacion h3{
    text-align: center;
}
#instalacion .box-inside{
    background-color: white;
    color: black;
    padding: 0px 15px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .9);
    margin-bottom: 25px;
}
#instalacion .box-icon{
    display: flex;
    flex-direction: row;
}
#instalacion span{
    margin-left: 5px;
    margin-top: 20px;
    font-size: 2em;
}
#instalacion .box-icon p{
    margin-left: 20px;
}
#form{
    background-color: rgb(14, 14, 58);
    color: white;
}
#form .box-head{
    background-color: rgb(14, 14, 58);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 20px;
}
#form h2{
    position: relative;
    margin-top: 20px;
    font-size: 2.5em;
}
#form b{
    font-size: 1.2em;
    font-weight: bold;
}
.box-head p{
    font-weight: 100;
    font-style: italic;
    width: 300px;
}
#form .box-middle-one{
    display: flex;
    flex-direction: column;
    margin-top: -60px;
}
.box-middle-one p{
    margin-left: 60px;
    font-weight: 100;
    word-spacing: -1px;
    letter-spacing: -1px;
    line-height: .01;
}
#form .material-symbols-outlined{
    position: relative;
    top: 40px;
    left: 15px;
    font-size: 2em;
}
.box-middle-email p{
    margin-left: 60px;
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 0.9em;
}
#form form{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: left;
    width: 95%;
    margin-left: auto;margin-right: auto;
}
.consulta h5{
    position: relative;
    top: 50px;
    font-size: 2em;
    color:rgb(180, 48, 65);
}
.consulta p{
    font-weight: bold;
}
.consulta{
    margin-top: -80px;
}
#form input{
    margin-bottom: 10px;
    padding: 10px 0px;
    border-radius: 5px;
}
#form .controls{
    height: 120px;
}
#form .button{
    background-color:rgb(180, 48, 65) ;
    border-radius: 5px;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 15px;
    border: 6px solid rgb(124, 17, 17)  ;
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255.9, alpha);
    color: white;
    margin-bottom: 30px;
    margin-left: auto;margin-right: auto;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
}
#form .button:hover{
    background-color: rgb(87, 46, 46);
    border: 2px solid rgba(255, 255, 255, .9);
    box-shadow: 5px 5px 5px 5px  rgb(180, 48, 65);
}
footer{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    color: white;
    background-color: rgb(14, 14, 58);
    padding: 20px;
}
footer .adress{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 30px;
}
.adress a{
    margin-top: 0px;
}
.adress p{
    margin-top: 0px;
    font-size: 0.8em;
    font-weight: 100;
    font-style: italic;
    width: 300px;
}
 footer .text{
    font-style: normal;
    font-size: 1.1em;
    width: 300px;
    margin-bottom: -1px;
    font-weight: bold;
    
}
footer .red{
    margin-left: 15px;
    margin-top: 20px;
}
footer a{
    font-size: 1.1em;
    text-decoration: none;
    color: rgb(180, 48, 65);
    font-weight: bold;
    margin: 0;
}
footer .caja{
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-top: 25px;
}
footer .cajas{
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    position: relative;
    margin-top: -20px;
}
footer img{
    width: 50px;
}
.caja:nth-child(2){
    margin-left: -18px;
}



@media (min-width:500px){
    h1{font-size: 5em;}
    h2{font-size: 4em;}
    h3{font-size: 2.7em;}
    h4{font-size: 2.5em;}
    p{font-size: 1.5em;}
    li{font-size: 1.5em;}
    a{font-size: 1.8em;}
    .button{
        padding: 1em 2em;   
    }
    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    header nav{
        display: flex;
        align-items: right;
        position: absolute;
    }
    header a{
        color: #f0f0f0;
        text-decoration: none;
        margin-left: 2em;
        margin-top: 1em;
    }
    header a:hover{
        color: rgb(124, 17, 17);
    }
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1em;
    }
    #hero{
        height: 100vh;
    }
    #hero .container{
        margin-left: 0;
    }
    #hero .logo{
        position: relative;
        right: 30em;
        bottom: 20em;
        width: 30em;
    }
    #hero h1{
        margin-bottom: 1em;
    }
    #hero h1:hover{
        color: rgb(180, 48, 65);
    }
    #hero p{
        margin-top: 3em;
    }
    #tuberia p{
        width: 100%;
    }
    #tipos{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #tipos p{
        width: 100%;
    }
    #tipos .box-body{
        display: flex;
        flex-direction: row;
        padding: 1em;
    }
    #tipos .box-inside{
        width: 30%;
        margin-left: 4em;
    }
    #tipos .box-inside li{
        text-align: left;
    }
    #tipos .box-body1{
        display: flex;
        flex-direction: row;
        padding: 1em;
    } 
    #tipos .box-body1 .box-inside{
        width: 50%;
    }
    #normas{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #normas .box-head p{
        width: 100%;
    }
    #normas .box-body{
        display: flex;
        flex-direction: row;
    }
    #normas .box-inside{
        margin-left: 2em;
        margin-bottom: 2em;
    }
    #normativas{
        height: 100vh;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #normativas h2{
        color: #fff;
    }
    #normativas li{
        list-style: none;
        text-align-last: left;
        font-size: 2em;
    }
    #accesorios .box-head p{
        width: 100%;
        text-align: center;
    }
    #accesorios .box-body{
        display: flex;
        flex-direction: row;
    }
    #accesorios .box-body .box-inside{
        width: 45%;
        margin-left: auto;margin-right: auto;
        margin-left: 2em;
        display: flex;
        flex-direction: column;
    }
}